<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.skynet.api.data.his.mapper.inpatient.surgery.MetOpsArrangeMapper">
    <resultMap id="map" type="com.kaos.skynet.api.data.his.entity.inpatient.surgery.MetOpsArrange">
        <id column="OPERATIONNO" jdbcType="VARCHAR" property="operationNo"/>
        <result column="ROLE_CODE" jdbcType="VARCHAR" property="role"/>
        <result column="EMPL_CODE" jdbcType="VARCHAR" property="emplCode"/>
    </resultMap>

    <sql id="item">
        OPERATIONNO,
        ROLE_CODE,
        EMPL_CODE
    </sql>

    <select id="queryMetOpsArranges" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            MET_OPS_ARRANGE
        <where>
            <if test="operationNo != null">
                AND OPERATIONNO = #{operationNo}
            </if>
            <if test="roles != null">
                AND ROLE_CODE IN
                <foreach collection="roles" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>