<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.skynet.api.data.his.mapper.inpatient.surgery.SurgeryDictMapper">
    <resultMap id="map" type="com.kaos.skynet.api.data.his.entity.inpatient.surgery.SurgeryDict">
        <id column="ICD_CODE" jdbcType="VARCHAR" property="icdCode" />
        <result column="SURGERY_NAME" jdbcType="VARCHAR" property="surgeryName" />
        <result column="SURGERY_LEVEL" jdbcType="VARCHAR" property="surgeryLevel" />
        <result column="VALID" jdbcType="VARCHAR" property="valid" />
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate" />
        <result column="TELEPROMPTER" jdbcType="VARCHAR" property="teleprompter" />
    </resultMap>

    <sql id="item">
        ICD_CODE,
        SURGERY_NAME,
        SURGERY_LEVEL,
        VALID,
        OPER_DATE,
        TELEPROMPTER
    </sql>

    <select id="querySurgeryDict" resultMap="map">
        SELECT
        <include refid="item" />
        FROM
            KAOS.SURGERY_DICT
        <where>
            <if test="true">
                AND ICD_CODE = #{icdCode}
            </if>
        </where>
    </select>

    <select id="querySurgeryDicts" resultMap="map">
        SELECT
        <include refid="item" />
        FROM
            KAOS.SURGERY_DICT
        <where>
            <if test="icdCodes != null">
                AND ICD_CODE IN
                <foreach collection="icdCodes" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="level != null">
                AND SURGERY_LEVEL = #{level}
            </if>
            <if test="valid != null">
                AND VALID = #{valid}
            </if>
        </where>
    </select>

    <insert id="insertSurgeryDict">
        INSERT INTO
            KAOS.SURGERY_DICT(ICD_CODE, SURGERY_NAME, SURGERY_LEVEL, VALID, OPER_DATE, TELEPROMPTER)
        VALUES
            (#{icdCode}, #{surgeryName}, #{surgeryLevel}, #{valid}, #{operDate}, #{teleprompter})
    </insert>
</mapper>