<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.personnel.EmployeeMapper">

    <select id="GetEmployeeByEmplCode" resultMap="resultMap">
        SELECT
            T1.EMPL_ID AS CODE,
            T1.EMPL_NAME AS NAME,
            T1.SEX_CODE AS SEX,
            T1.BIRTHDAY AS BIRTHDAY,
            T1.IDENNO AS IDENTITY_NO,
            T1.TEL AS PHONE_NO,
            T1.EMAIL AS EMAIL,
            T2.DEPT_ID AS DEPT_CODE,
            T2.DEPT_NAME AS DEPT_NAME,
            T2.DEPTOWN AS DEPT_DEPTOWN
        FROM
            DAWN_ORG_EMPL T1
            LEFT JOIN DAWN_ORG_DEPT T2 ON T2.DEPT_ID = T1.DEPT_ID
        WHERE
            T1.EMPL_ID = #{emplCode}
    </select>

    <resultMap id="resultMap" extends="com.kaos.his.mapper.personnel.CitizenMapper.resultMap" type="com.kaos.his.entity.personnel.Employee">
        <id column="CODE" jdbcType="VARCHAR" property="code"/>
        <association columnPrefix="DEPT_" resultMap="com.kaos.his.mapper.organization.DepartmentMapper.resultMap" javaType="com.kaos.his.entity.organization.Department" property="dept"/>
    </resultMap>
</mapper>