<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.personnel.EmployeeMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" extends="com.kaos.his.mapper.personnel.CitizenMapper.map" type="com.kaos.his.entity.personnel.Employee">
        <id column="CODE" jdbcType="VARCHAR" property="code"/>
        <result column="DEPT_CODE" jdbcType="VARCHAR" property="deptCode"/>
    </resultMap>

    <!-- 接口 -->
    <select id="QueryEmployee" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            DAWN_ORG_EMPL
        <where>
            <if test="emplCode!=null">
                AND EMPL_ID = #{emplCode}
                AND VALID_STATE = '1'
            </if>
        </where>
    </select>

    <!-- 所有字段 -->
    <sql id="allItem">
        EMPL_ID AS CODE,
        DEPT_ID AS DEPT_CODE,
        <include refid="citizenItem"/>
    </sql>

    <!-- 父类Citizen字段 -->
    <sql id="citizenItem">
        EMPL_ID AS CODE,
        EMPL_NAME AS NAME,
        SEX_CODE AS SEX,
        BIRTHDAY AS BIRTHDAY,
        IDENNO AS IDENTITY_NO,
        TEL AS PHONE_NO,
        EMAIL AS EMAIL
    </sql>
</mapper>