<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.personnel.InpatientMapper">
    <resultMap id="map" extends="com.kaos.his.mapper.personnel.DeptpatientMapper.map" type="com.kaos.his.entity.personnel.Inpatient">
        <id column="PATIENT_NO" jdbcType="VARCHAR" property="patientNo"/>
        <result column="STATE" jdbcType="VARCHAR" property="state"/>
        <result column="NURSE_CELL_CODE" jdbcType="VARCHAR" property="nurseCellCode"/>
        <result column="BED_NO" jdbcType="VARCHAR" property="bedNo"/>
        <result column="IN_DATE" jdbcType="VARCHAR" property="inDate"/>
        <result column="OUT_DATE" jdbcType="VARCHAR" property="outDate"/>
    </resultMap>

    <!-- 接口1 -->
    <select id="QueryInpatient" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            FIN_IPR_INMAININFO T1
            LEFT JOIN COM_PATIENTINFO T2 ON T2.CARD_NO = T1.CARD_NO AND T2.IS_VALID = '1'
        <where>
            <if test="patientNo!=null">
                AND T1.PATIENT_NO = #{patientNo}
            </if>
        </where>
    </select>

    <!-- 所有字段 -->
    <sql id="allItem">
        T1.PATIENT_NO AS PATIENT_NO,
        T1.IN_STATE AS STATE,
        T1.NURSE_CELL_CODE AS NURSE_CELL_CODE,
        T1.BED_NO AS BED_NO,
        T1.IN_DATE AS IN_DATE,
        T1.OUT_DATE AS OUT_DATE,
        <include refid="deptpatientItem"/>
    </sql>

    <!-- baseItem -->
    <sql id="deptpatientItem">
        <include refid="OPER_employeeItem"/>
        T1.OPER_DATE AS OPER_DATE,
        <include refid="DEPT_departmentItem"/>
        <include refid="patientItem"/>
    </sql>

    <!-- operEmployee -->
    <sql id="OPER_employeeItem">
        T1.OPER_CODE AS OPER_CODE,
    </sql>

    <!-- dept -->
    <sql id="DEPT_departmentItem">
        T1.DEPT_CODE AS DEPT_CODE,
    </sql>

    <!-- baseItem -->
    <sql id="patientItem">
        T1.CARD_NO  AS CARD_NO,
        T2.GCPOUTPATIENT AS GCPOUTPATIENT,
        <include refid="citizenItem"/>
    </sql>

    <!-- baseItem -->
    <sql id="citizenItem">
        T2.NAME AS NAME,
        T2.SEX_CODE AS SEX,
        T2.BIRTHDAY AS BIRTHDAY,
        T2.IDENNO AS IDENTITY_NO,
        NVL(T2.WORK_TEL, NVL(T2.HOME_TEL, T2.LINKMAN_TEL)) AS PHONE_NO,
        T2.EMAIL AS EMAIL
    </sql>
</mapper>