<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.personnel.PatientMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" extends="com.kaos.his.mapper.personnel.CitizenMapper.map" type="com.kaos.his.entity.personnel.Patient">
        <id column="CARD_NO" jdbcType="VARCHAR" property="cardNo"/>
        <result column="GCPOUTPATIENT" jdbcType="VARCHAR" property="gcpOutPatient"/>
    </resultMap>

    <!-- 接口 -->
    <select id="QueryPatient" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            COM_PATIENTINFO
        <where>
            <if test="cardNo!=null">
                AND CARD_NO = #{cardNo}
                AND IS_VALID = '1'
            </if>
        </where>
    </select>

    <!-- 所有字段 -->
    <sql id="allItem">
        CARD_NO  AS CARD_NO,
        GCPOUTPATIENT AS GCPOUTPATIENT,
        <include refid="citizenItem"/>
    </sql>

    <!-- 父类Citizen字段 -->
    <sql id="citizenItem">
        NAME AS NAME,
        SEX_CODE AS SEX,
        BIRTHDAY AS BIRTHDAY,
        IDENNO AS IDENTITY_NO,
        NVL(WORK_TEL, NVL(HOME_TEL, LINKMAN_TEL)) AS PHONE_NO,
        EMAIL AS EMAIL
    </sql>
</mapper>