<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.skynet.api.mapper.common.config.ConfigSwitchMapper">
    <resultMap id="map" type="com.kaos.skynet.entity.common.config.ConfigSwitch">
        <id column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="VALUE" jdbcType="VARCHAR" property="value"/>
        <result column="VALID" jdbcType="VARCHAR" property="valid"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <sql id="item">
        NAME,
        VALUE,
        VALID,
        REMARK
    </sql>

    <select id="queryConfigSwitch" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            KAOS.CONFIG_SWITCH
        <where>
            <if test="true">
                AND NAME = #{name}
            </if>
        </where>
    </select>
</mapper>