<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.common.fee.FinComFeeCodeStatMapper">
    <resultMap id="map" type="com.kaos.his.entity.common.fee.FinComFeeCodeStat">
        <id column="REPORT_CODE" jdbcType="VARCHAR" property="reportCode"/>
        <id column="FEE_CODE" jdbcType="VARCHAR" property="feeCode"/>
        <result column="REPORT_TYPE" jdbcType="VARCHAR" property="reportType"/>
        <result column="REPORT_NAME" jdbcType="VARCHAR" property="reportName"/>
        <result column="FEE_STAT_CODE" jdbcType="VARCHAR" property="feeStatCode"/>
        <result column="FEE_STAT_NAME" jdbcType="VARCHAR" property="feeStatName"/>
        <result column="FEE_STAT_CATE" jdbcType="VARCHAR" property="feeStatCate"/>
        <result column="EXEDEPT_CODE" jdbcType="VARCHAR" property="exeDeptCode"/>
        <result column="CENTER_STATCODE" jdbcType="VARCHAR" property="centerStatCode"/>
        <result column="PRINT_ORDER" jdbcType="VARCHAR" property="printOrder"/>
        <result column="VALID_STATE" jdbcType="VARCHAR" property="validState"/>
        <result column="OPER_CODE" jdbcType="VARCHAR" property="operCode"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
    </resultMap>

    <sql id="item">
        REPORT_CODE,
        REPORT_TYPE,
        REPORT_NAME,
        FEE_CODE,
        FEE_STAT_CODE,
        FEE_STAT_NAME,
        FEE_STAT_CATE,
        EXEDEPT_CODE,
        CENTER_STATCODE,
        PRINT_ORDER,
        VALID_STATE,
        OPER_CODE,
        OPER_DATE
    </sql>

    <select id="queryFeeCodeStat" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            XYHIS.FIN_COM_FEECODESTAT
        <where>
            <if test="true">
                AND REPORT_CODE = #{reportType}
            </if>
            <if test="true">
                AND FEE_CODE = #{feeCode}
            </if>
        </where>
    </select>
</mapper>