<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.credential.AnnexInfoMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" type="com.kaos.his.entity.credential.AnnexInfo">
        <id column="ANNEX_NO" jdbcType="VARCHAR" property="annexNo"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
        <result column="NEGATIVE" jdbcType="VARCHAR" property="negative"/>
        <result column="EXEC_DATE" jdbcType="VARCHAR" property="execDate"/>
    </resultMap>

    <!-- 所有字段 -->
    <sql id="allItem">
        T1.ANNEX_NO,
        T1.OPER_DATE,
        T1.NEGATIVE,
        T1.EXEC_DATE
    </sql>

    <!-- 接口1 -->
    <select id="QueryAnnexCheckInfo" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ANNEX_CHK_INFO T1
        WHERE
            T1.ANNEX_NO = #{annexNo}
    </select>

    <!-- 接口2 -->
    <select id="QueryLatestExecInfo" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ANNEX_CHK_INFO T1
            LEFT JOIN KAOS.ANNEX_MAIN_INFO T2 ON T2.ANNEX_NO = T1.ANNEX_NO
        WHERE
            T2.CARD_NO = #{annexNo}
            AND T1.EXEC_DATE = (
                SELECT
                    MAX(T1.EXEC_DATE)
                FROM
                    KAOS.ANNEX_CHK_INFO T1
                    LEFT JOIN KAOS.ANNEX_MAIN_INFO T2 ON T2.ANNEX_NO = T1.ANNEX_NO
                WHERE
                    T2.CARD_NO = #{annexNo}
            )
    </select>

    <!-- 接口3 -->
    <insert id="InsertAnnexCheckInfo" parameterType="com.kaos.his.entity.credential.AnnexCheckInfo">
        INSERT INTO
            KAOS.ANNEX_CHK_INFO(ANNEX_NO, OPER_DATE, NEGATIVE, EXEC_DATE)
        VALUES
            (#{annexNo}, #{operDate}, #{negative}, #{execDate})
    </insert>
</mapper>