<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.credential.AnnexInfoMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" type="com.kaos.his.entity.credential.AnnexInfo">
        <id column="ANNEX_NO" jdbcType="VARCHAR" property="annexNo"/>
        <result column="CARD_NO" jdbcType="VARCHAR" property="cardNo"/>
        <result column="ANNEX_URL" jdbcType="VARCHAR" property="annexUrl"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
    </resultMap>

    <!-- 所有字段 -->
    <sql id="allItem">
        ANNEX_NO,
        CARD_NO,
        ANNEX_URL,
        OPER_DATE
    </sql>

    <!-- 接口1 -->
    <select id="QueryAnnexInfo" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ANNEX_MAIN_INFO
        WHERE
            ANNEX_NO = #{annexNo}
    </select>

    <!-- 接口2 -->
    <select id="QueryAnnexInfos" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ANNEX_MAIN_INFO
        WHERE
            CARD_NO = #{cardNo}
            AND OPER_DATE &ge; #{beginDate}
            AND OPER_DATE &le; #{endDate}
        ORDER BY
            OPER_DATE ASC
    </select>

    <!-- 接口3 -->
    <select id="QueryUncheckedAnnexInfos" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ANNEX_MAIN_INFO
        WHERE
            CARD_NO = #{cardNo}
            AND OPER_DATE &ge; #{beginDate}
            AND OPER_DATE &le; #{endDate}
            AND ANNEX_NO NOT IN (
                SELECT
                    ANNEX_NO
                FROM
                    KAOS.ANNEX_CHK_INFO
            )
        ORDER BY
            OPER_DATE ASC
    </select>

    <!-- 接口4 -->
    <insert id="InsertAnnex" parameterType="com.kaos.his.entity.credential.AnnexInfo">
        <selectKey keyProperty="annexNo" order="BEFORE" resultType="java.lang.String">
            SELECT
                LPAD(KAOS.SEQ_ANNEX_NO.NEXTVAL, 10, '0')
            FROM
                DUAL
        </selectKey>
        INSERT INTO
            KAOS.ANNEX_MAIN_INFO(ANNEX_NO, CARD_NO, ANNEX_URL, OPER_DATE)
        VALUES
            (#{annexNo}, #{cardNo}, #{annexUrl}, #{operDate})
    </insert>
</mapper>