<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.credential.EscortCardMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" type="com.kaos.his.entity.credential.EscortCard">
        <id column="ESCORT_NO" jdbcType="VARCHAR" property="escortNo"/>
        <result column="PATIENT_CARD_NO" jdbcType="VARCHAR" property="patientCardNo"/>
        <result column="HAPPEN_NO" jdbcType="VARCHAR" property="happenNo"/>
        <result column="HELPER_CARD_NO" jdbcType="VARCHAR" property="helperCardNo"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <!-- 全部字段 -->
    <sql id="allItem">
        ESCORT_NO,
        PATIENT_CARD_NO,
        HAPPEN_NO,
        HELPER_CARD_NO,
        OPER_DATE,
        REMARK
    </sql>

    <!-- 接口1 -->
    <select id="QueryEscort" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ESCORT_MAIN_INFO
        <where>
            <if test="escortNo!=null">
                AND ESCORT_NO = #{escortNo}
            </if>
        </where>
    </select>

    <!-- 接口2 -->
    <select id="QueryHelperEscorts" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ESCORT_MAIN_INFO
        <where>
            <if test="helperCardNo!=null">
                AND HELPER_CARD_NO = #{helperCardNo}
            </if>
        </where>
        ORDER BY
            OPER_DATE ASC
    </select>

    <!-- 接口3 -->
    <select id="QueryPatientEscorts" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ESCORT_MAIN_INFO
        <where>
            <if test="patientCardNo!=null">
                AND PATIENT_CARD_NO = #{patientCardNo}
            </if>
            <if test="happenNo!=null">
                AND HAPPEN_NO = #{happenNo}
            </if>
        </where>
        ORDER BY
            OPER_DATE ASC
    </select>

    <!-- 接口3 -->
    <select id="QueryEscortHistorys" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ESCORT_MAIN_INFO
        <where>
            <if test="patientCardNo!=null">
                AND PATIENT_CARD_NO = #{patientCardNo}
            </if>
            <if test="happenNo!=null">
                AND HAPPEN_NO = #{happenNo}
            </if>
            <if test="helperCardNo!=null">
                AND HELPER_CARD_NO = #{helperCardNo}
            </if>
        </where>
        ORDER BY
            OPER_DATE ASC
    </select>

    <!-- 接口8 -->
    <insert id="InsertEscort" parameterType="com.kaos.his.entity.credential.EscortCard">
        <selectKey keyProperty="escortNo" order="BEFORE" resultType="java.lang.String">
            SELECT
                LPAD(KAOS.SEQ_ESCORT_NO.NEXTVAL, 10, '0')
            FROM
                DUAL
        </selectKey>
        INSERT INTO
            KAOS.ESCORT_MAIN_INFO(ESCORT_NO, PATIENT_CARD_NO, HAPPEN_NO, HELPER_CARD_NO, OPER_DATE, REMARK)
        VALUES
            (#{escortNo}, #{patientCardNo}, #{happenNo}, #{helperCardNo}, #{operDate}, #{remark})
    </insert>
</mapper>