<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.credential.EscortVipMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" type="com.kaos.his.entity.credential.EscortVip">
        <id column="PATIENT_CARD_NO" jdbcType="VARCHAR" property="patientCardNo"/>
        <id column="HAPPEN_NO" jdbcType="VARCHAR" property="happenNo"/>
        <result column="HELPER_CARD_NO" jdbcType="VARCHAR" property="helperCardNo"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <!-- 所有字段 -->
    <sql id="allItem">
        PATIENT_CARD_NO,
        HAPPEN_NO,
        HELPER_CARD_NO,
        OPER_DATE,
        REMARK
    </sql>

    <!-- 查询接口 -->
    <select id="QueryEscortVip" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ESCORT_VIP
        WHERE
            PATIENT_CARD_NO = #{patientCardNo}
            AND HAPPEN_NO = #{happenNo}
    </select>

    <!-- 插入接口 -->
    <insert id="InsertEscortVip">
        INSERT INTO
            KAOS.ESCORT_VIP(PATIENT_CARD_NO, HAPPEN_NO, HELPER_CARD_NO, OPER_DATE, REMARK)
        VALUES
            (#{patientCardNo}, #{happenNo}, #{helperCardNo}, #{operDate}, #{remark})
    </insert>
</mapper>