<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.credential.EscortCardActionMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" type="com.kaos.his.entity.credential.EscortCardAction">
        <result column="ESCORT_NO" jdbcType="VARCHAR" property="escortNo"/>
        <result column="ACTION" jdbcType="VARCHAR" property="action"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <!-- 所有字段 -->
    <sql id="allItem">
        ESCORT_NO,
        ACTION,
        OPER_DATE,
        REMARK
    </sql>

    <!-- 查询接口 -->
    <select id="QueryEscortCardActions" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ESCORT_ACTION_REC
        <where>
            <if test="escortNo != null">
                AND ESCORT_NO = #{escortNo}
            </if>
        </where>
    </select>

    <!-- 插入接口 -->
    <insert id="InsertEscortCardAction">
        INSERT INTO
            KAOS.ESCORT_ACTION_REC(ESCORT_NO, ACTION, OPER_DATE, REMARK)
        VALUES
            (#{escortNo}, #{action}, #{operDate}, #{remark})
    </insert>
</mapper>