<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.credential.EscortAnnexMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" type="com.kaos.his.entity.credential.EscortAnnex">
        <id column="ESCORT_CARD_NO" jdbcType="VARCHAR" property="escortCardNo"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
        <result column="URL" jdbcType="VARCHAR" property="url"/>
    </resultMap>

    <!-- 所有字段 -->
    <sql id="allItem">
        CARD_NO AS ESCORT_CARD_NO,
        OPER_DATE AS OPER_DATE,
        URL AS URL
    </sql>

    <!-- 接口1 -->
    <select id="QueryEscortAnnex" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ESCORT_ANNEX
        <where>
            <if test="escortCardNo!=null">
                AND CARD_NO = #{escortCardNo}
            </if>
        </where>
    </select>

    <!-- 接口2 -->
    <insert id="InsertEscortAnnex" parameterType="com.kaos.his.entity.credential.EscortAnnex">
        INSERT INTO
            KAOS.ESCORT_ANNEX(CARD_NO, OPER_DATE, URL)
        VALUES
            (#{escortCardNo}, #{operDate}, #{url})
    </insert>

    <!-- 接口3 -->
    <update id="UpdateEscortAnnex">
        UPDATE
            KAOS.ESCORT_ANNEX
        <trim prefix="SET" suffixOverrides=",">
            <if test="operDate!=null">
                OPER_DATE = #{operDate},
            </if>
            <if test="url!=null">
                URL = #{url},
            </if>
        </trim>
        WHERE
            CARD_NO = #{cardNo}
    </update>
</mapper>