<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.credential.EscortCardStateMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" type="com.kaos.his.entity.credential.EscortCardState">
        <id column="ESCORT_NO" jdbcType="VARCHAR" property="escortNo"/>
        <id column="REC_NO" jdbcType="VARCHAR" property="recNo"/>
        <result column="STATE" jdbcType="VARCHAR" property="state"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <!-- 所有字段 -->
    <sql id="allItem">
        ESCORT_NO,
        REC_NO,
        STATE,
        OPER_DATE,
        REMARK
    </sql>

    <!-- 查询接口 -->
    <select id="QueryEscortCardStates" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ESCORT_STATE_REC
        WHERE
            ESCORT_NO = #{escortNo}
        ORDER BY
            REC_NO ASC
    </select>

    <!-- 插入接口 -->
    <insert id="InsertEscortCardState">
        <selectKey keyProperty="recNo" order="BEFORE" resultType="java.lang.Integer">
            SELECT
                NVL(MAX(REC_NO), '0') + 1
            FROM
                KAOS.ESCORT_STATE_REC
            WHERE
                ESCORT_NO = #{escortNo}
        </selectKey>
        INSERT INTO
            KAOS.ESCORT_STATE_REC(ESCORT_NO, REC_NO, STATE, OPER_DATE, OPER_CODE, REMARK)
        VALUES
            (#{escortNo}, #{recNo}, #{state}, #{operDate}, #{operCode}, #{remark})
    </insert>
</mapper>