<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.credential.EscortCardMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" type="com.kaos.his.entity.credential.EscortCard">
        <id column="ESCORT_NO" jdbcType="VARCHAR" property="escortNo"/>
        <result column="PATIENT_CARD_NO" jdbcType="VARCHAR" property="patientCardNo"/>
        <result column="HAPPEN_NO" jdbcType="VARCHAR" property="happenNo"/>
        <result column="HELPER_CARD_NO" jdbcType="VARCHAR" property="helperCardNo"/>
        <collection column="{escortNo=ESCORT_NO}" select="GetEscortStates" ofType="com.kaos.his.entity.credential.EscortCard$EscortState" property="states"/>
        <collection column="{escortNo=ESCORT_NO}" select="GetEscortActions" ofType="com.kaos.his.entity.credential.EscortCard$EscortAction" property="actions"/>
    </resultMap>

    <!-- 容器1 -->
    <select id="GetEscortStates" resultMap="escortStateMap">
        SELECT
            ESCORT_NO AS ESCORT_NO,
            REC_NO AS REC_NO,
            STATE AS STATE,
            OPER_DATE AS OPER_DATE
        FROM
            KAOS.ESCORT_STATE_REC
        WHERE
            ESCORT_NO = #{escortNo}
    </select>

    <!-- 容器映射表1 -->
    <resultMap id="escortStateMap" type="com.kaos.his.entity.credential.EscortCard$EscortState">
        <result column="ESCORT_NO" jdbcType="VARCHAR" property="escortNo"/>
        <result column="REC_NO" jdbcType="VARCHAR" property="recNo"/>
        <result column="STATE" jdbcType="VARCHAR" property="state"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
    </resultMap>

    <!-- 容器2 -->
    <select id="GetEscortActions" resultMap="escortActionMap">
        SELECT
            ESCORT_NO AS ESCORT_NO,
            REC_NO AS REC_NO,
            ACTION AS STATE,
            OPER_DATE AS OPER_DATE
        FROM
            KAOS.ESCORT_ACTION_REC
        WHERE
            ESCORT_NO = #{escortNo}
    </select>

    <!-- 容器映射表2 -->
    <resultMap id="escortActionMap" type="com.kaos.his.entity.credential.EscortCard$EscortAction">
        <result column="ESCORT_NO" jdbcType="VARCHAR" property="escortNo"/>
        <result column="REC_NO" jdbcType="VARCHAR" property="recNo"/>
        <result column="ACTION" jdbcType="VARCHAR" property="action"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
    </resultMap>

    <!-- 全部字段 -->
    <sql id="allItem">
        ESCORT_NO AS ESCORT_NO,
        PATIENT_CARD_NO AS PATIENT_CARD_NO,
        HAPPEN_NO AS HAPPEN_NO,
        ESCORT_CARD_NO AS HELPER_CARD_NO
    </sql>

    <!-- 接口1 -->
    <select id="QueryEscort" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ESCORT_MAIN_INFO
        <where>
            <if test="escortNo!=null">
                AND ESCORT_NO = #{escortNo}
            </if>
        </where>
    </select>

    <!-- 接口2 -->
    <select id="QueryHelperEscorts" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ESCORT_MAIN_INFO
        <where>
            <if test="helperCardNo!=null">
                AND ESCORT_CARD_NO = #{helperCardNo}
            </if>
        </where>
        ORDER BY
            ESCORT_NO
    </select>

    <!-- 接口3 -->
    <select id="QueryPatientEscorts" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ESCORT_MAIN_INFO
        <where>
            <if test="patientCardNo!=null">
                AND PATIENT_CARD_NO = #{patientCardNo}
            </if>
            <if test="happenNo!=null">
                AND HAPPEN_NO = #{happenNo}
            </if>
        </where>
        ORDER BY
            ESCORT_NO
    </select>

    <!-- 接口4 -->
    <insert id="UpdateEscortState" parameterType="com.kaos.his.entity.credential.EscortCard$EscortState">
        INSERT INTO
            KAOS.ESCORT_STATE_REC(ESCORT_NO, REC_NO, STATE, OPER_CODE, OPER_DATE)
        VALUES
            (#{escortNo}, #{recNo}, #{state}, 'webApi', #{operDate})
    </insert>

    <!-- 接口5 -->
    <insert id="InsertEscort" parameterType="com.kaos.his.entity.credential.EscortCard">
        INSERT INTO
            KAOS.ESCORT_MAIN_INFO(ESCORT_NO, ESCORT_CARD_NO, PATIENT_CARD_NO, HAPPEN_NO, REMARK)
        VALUES
            (#{escortNo}, #{helperCardNo}, #{patientCardNo}, #{happenNo}, 'webApi')
    </insert>
</mapper>