<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.credential.EscortAnnexMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" type="com.kaos.his.entity.credential.EscortAnnex">
        <id column="ANNEX_NO" jdbcType="VARCHAR" property="annexNo"/>
        <result column="CARD_NO" jdbcType="VARCHAR" property="cardNo"/>
        <result column="UPLOAD_DATE" jdbcType="VARCHAR" property="uploadDate"/>
        <result column="PIC_URL" jdbcType="VARCHAR" property="picUrl"/>
        <result column="CFM_RESULT" jdbcType="VARCHAR" property="cfmResult"/>
        <result column="CFM_DATE" jdbcType="VARCHAR" property="cfmDate"/>
        <result column="CFM_NAT_DATE" jdbcType="VARCHAR" property="cfmNatDate"/>
    </resultMap>

    <!-- 所有字段 -->
    <sql id="allItem">
        ANNEX_NO,
        CARD_NO,
        UPLOAD_DATE,
        PIC_URL,
        CFM_RESULT,
        CFM_DATE,
        CFM_NAT_DATE
    </sql>

    <!-- 接口1 -->
    <select id="QueryAnnex" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ESCORT_ANNEX_MAIN
        <where>
            <if test="cardNo!=null">
                AND CARD_NO = #{cardNo}
            </if>
            <if test="offset != null">
                AND UPLOAD_DATE &gt;= SYSDATE - #{offset}
            </if>
        </where>
        ORDER BY
            ANNEX_NO ASC
    </select>

    <!-- 接口2 -->
    <insert id="InsertAnnex">
        INSERT INTO
            KAOS.ESCORT_ANNEX_MAIN(ANNEX_NO, CARD_NO, UPLOAD_DATE, PIC_URL)
        VALUES
            (
                (
                    SELECT
                        LPAD(NVL(MAX(ANNEX_NO), '0') + 1, 10, '0')
                    FROM
                        KAOS.ESCORT_ANNEX_MAIN
                ),
                #{cardNo},
                SYSDATE,
                #{picUrl}
            )
    </insert>

    <!-- 接口4 -->
    <update id="CfmAnnex">
        UPDATE
            KAOS.ESCORT_ANNEX_MAIN
        SET
            CONFIRM_RESULT = #{result},
            CONFIRM_DATE = SYSDATE,
            CONFIRM_NAT_DATE = #{natDate}
        WHERE
            ANNEX_NO = #{annexNo}
    </update>
</mapper>