<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.credential.EscortCardMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" type="com.kaos.his.entity.credential.EscortCard">
        <result column="ESCORT_NO" jdbcType="VARCHAR" property="escortNo"/>
        <result column="IS_VIP" jdbcType="VARCHAR" property="vip"/>
        <association columnPrefix="HOS_CTF_" resultMap="com.kaos.his.mapper.credential.PreinCardMapper.map" javaType="com.kaos.his.entity.credential.PreinCard" property="hospitalizationCertificate"/>
        <association columnPrefix="HELPER_" resultMap="com.kaos.his.mapper.personnel.PatientMapper.map" javaType="com.kaos.his.entity.personnel.Patient" property="helper"/>
        <collection column="{escortNo=ESCORT_NO}" select="GetEscortStates" ofType="com.kaos.his.entity.credential.EscortCard$EscortState" property="states"/>
        <collection column="{escortNo=ESCORT_NO}" select="GetEscortActions" ofType="com.kaos.his.entity.credential.EscortCard$EscortAction" property="actions"/>
    </resultMap>

    <!-- 容器1 -->
    <select id="GetEscortStates" resultMap="escortStateMap">
        SELECT
            REC_NO AS REC_NO,
            STATE AS STATE,
            OPER_DATE AS OPER_DATE
        FROM
            KAOS.ESCORT_STATE_REC
        WHERE
            ESCORT_NO = #{escortNo}
    </select>

    <!-- 容器映射表1 -->
    <resultMap id="escortStateMap" type="com.kaos.his.entity.credential.EscortCard$EscortState">
        <result column="REC_NO" jdbcType="VARCHAR" property="recNo"/>
        <result column="STATE" jdbcType="VARCHAR" property="state"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
    </resultMap>

    <!-- 容器2 -->
    <select id="GetEscortActions" resultMap="escortActionMap">
        SELECT
            REC_NO AS REC_NO,
            ACTION AS STATE,
            OPER_DATE AS OPER_DATE
        FROM
            KAOS.ESCORT_ACTION_REC
        WHERE
            ESCORT_NO = #{escortNo}
    </select>

    <!-- 容器映射表2 -->
    <resultMap id="escortActionMap" type="com.kaos.his.entity.credential.EscortCard$EscortAction">
        <result column="REC_NO" jdbcType="VARCHAR" property="recNo"/>
        <result column="ACTION" jdbcType="VARCHAR" property="action"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
    </resultMap>

    <!-- 全部字段 -->
    <sql id="allItem">
        T1.ESCORT_NO AS ESCORT_NO,
        T1.PATIENT_CARD_NO AS HOS_CTF_CARD_NO,
        T1.HAPPEN_NO AS HOS_CTF_HAPPEN_NO,
        T1.ESCORT_CARD_NO AS HELPER_CARD_NO,
        DECODE(T1.ESCORT_CARD_NO, T2.ESCORT_CARD_NO, '1', '0') AS IS_VIP
    </sql>

    <!-- 接口1 -->
    <select id="QueryEscort" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ESCORT_MAIN_INFO T1
            LEFT JOIN KAOS.ESCORT_VIP T2 ON T2.PATIENT_CARD_NO = T1.PATIENT_CARD_NO AND T2.HAPPEN_NO = T1.HAPPEN_NO
        <where>
            <if test="escortNo!=null">
                AND T1.ESCORT_NO = #{escortNo}
            </if>
        </where>
    </select>

    <!-- 接口2 -->
    <select id="QueryHelperEscorts" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ESCORT_MAIN_INFO T1
            LEFT JOIN KAOS.ESCORT_VIP T2 ON T2.PATIENT_CARD_NO = T1.PATIENT_CARD_NO AND T2.HAPPEN_NO = T1.HAPPEN_NO
        <where>
            <if test="cardNo!=null">
                AND T1.ESCORT_CARD_NO = #{cardNo}
            </if>
        </where>
        ORDER BY
            T1.ESCORT_NO
    </select>

    <!-- 接口3 -->
    <select id="QueryPatientEscorts" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ESCORT_MAIN_INFO T1
            LEFT JOIN KAOS.ESCORT_VIP T2 ON T2.PATIENT_CARD_NO = T1.PATIENT_CARD_NO AND T2.HAPPEN_NO = T1.HAPPEN_NO
        <where>
            <if test="cardNo!=null">
                AND T1.PATIENT_CARD_NO = #{cardNo}
            </if>
            <if test="happenNo!=null">
                AND T1.HAPPEN_NO = #{happenNo}
            </if>
        </where>
        ORDER BY
            T1.ESCORT_NO
    </select>


</mapper>