<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.credential.EscortAnnexCheckMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" type="com.kaos.his.entity.credential.EscortAnnexCheck">
        <id column="ANNEX_NO" jdbcType="VARCHAR" property="annexNo"/>
        <result column="CARD_NO" jdbcType="VARCHAR" property="helperCardNo"/>
        <result column="OPER_CODE" jdbcType="VARCHAR" property="operCode"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
        <result column="NEGATIVE" jdbcType="VARCHAR" property="negative"/>
        <result column="EXEC_DATE" jdbcType="VARCHAR" property="execDate"/>
    </resultMap>

    <!-- 所有字段 -->
    <sql id="allItem">
        T1.ANNEX_NO,
        T1.CARD_NO,
        T1.OPER_CODE,
        T1.OPER_DATE,
        T1.NEGATIVE,
        T1.EXEC_DATE
    </sql>

    <!-- 接口1 -->
    <select id="QueryEscortAnnexCheck" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ANNEX_CHK_INFO T1
        WHERE
            T1.ANNEX_NO = #{annexNo}
    </select>

    <!-- 接口2 -->
    <select id="QueryLastExecEscortAnnexCheck" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.ESCORT_ANNEX_CHK T1
            LEFT JOIN KAOS.ESCORT_ANNEX_INFO T2 ON T2.ANNEX_NO = T1.ANNEX_NO
        WHERE
            T2.CARD_NO = #{cardNo}
            AND T1.EXEC_DATE = (
                SELECT
                    MAX(TT1.EXEC_DATE)
                FROM
                    KAOS.ESCORT_ANNEX_CHK TT1
                    LEFT JOIN KAOS.ESCORT_ANNEX_INFO TT2 ON TT2.ANNEX_NO = TT1.ANNEX_NO
                WHERE
                    TT2.CARD_NO = #{cardNo}
            )
    </select>

    <!-- 接口3 -->
    <insert id="InsertEscortAnnexCheck">
        INSERT INTO
            KAOS.ESCORT_ANNEX_CHK(ANNEX_NO, OPER_CODE, OPER_DATE, NEGATIVE, EXEC_DATE)
        VALUES
            (#{annexNo}, #{operCode}, #{operDate}, #{negative}, #{execDate})
    </insert>
</mapper>