<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.credential.HospitalizationCertificateMapper">
    <resultMap id="resultMap" type="com.kaos.his.entity.credential.HospitalizationCertificate">
        <result column="CARD_NO" jdbcType="VARCHAR" property="cardNo"/>
        <result column="HAPPEN_NO" jdbcType="VARCHAR" property="happenNo"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
        <result column="PRE_NURSE_CELL_CODE" jdbcType="VARCHAR" property="preNurseCellCode"/>
        <result column="PRE_BED_NO" jdbcType="VARCHAR" property="preBedNo"/>
        <result column="PRE_DATE" jdbcType="VARCHAR" property="preDate"/>
        <result column="PRE_COST" jdbcType="VARCHAR" property="preCost"/>
        <result column="STATE" jdbcType="VARCHAR" property="state"/>
        <association columnPrefix="PAT_" resultMap="com.kaos.his.mapper.personnel.Patient.resultMap" javaType="com.kaos.his.entity.personnel.Patient" property="patient"/>
        <association columnPrefix="OPER_" resultMap="com.kaos.his.mapper.personnel.EmployeeMapper.resultMap" javaType="com.kaos.his.entity.personnel.Employee" property="operEmployee"/>
        <association columnPrefix="PRE_DEPT_" resultMap="com.kaos.his.mapper.organization.DepartmentMapper.resultMap" javaType="com.kaos.his.entity.organization.Department" property="preDept"/>
        <association columnPrefix="PRE_DOC_" resultMap="com.kaos.his.mapper.personnel.EmployeeMapper.resultMap" javaType="com.kaos.his.entity.personnel.Employee" property="preDoctor"/>
    </resultMap>

    <select id="GetHospitalizationCertificate" resultMap="resultMap">
        SELECT
            T1.CARD_NO AS CARD_NO,
            T1.HAPPEN_NO AS HAPPEN_NO,
            T1.OPER_DATE AS OPER_DATE,
            T1.NURSE_CELL_CODE AS PRE_NURSE_CELL_CODE,
            T1.BED_NO AS PRE_BED_NO,
            T1.PRE_DATE AS PRE_DATE,
            T1.PREPAY_COST AS PRE_COST,
            T1.PRE_STATE AS STATE,
            T1.OPER_CODE AS OPER_CODE,
            T2.EMPL_NAME AS OPER_NAME,
            T2.SEX_CODE AS OPER_SEX,
            T2.BIRTHDAY AS OPER_BIRTHDAY,
            T2.IDENNO AS OPER_IDENTITY_NO,
            T2.TEL AS OPER_PHONE_NO,
            T2.EMAIL AS OPER_EMAIL,
            T2.DEPT_ID AS OPER_DEPT_CODE,
            T3.DEPT_NAME AS OPER_DEPT_NAME,
            T3.DEPTOWN AS OPER_DEPT_DEPTOWN,
            T1.DEPT_CODE AS PRE_DEPT_CODE,
            T4.DEPT_NAME AS PRE_DEPT_NAME,
            T4.DEPTOWN AS PRE_DEPT_DEPTOWN,
            T1.PREDOCT_CODE AS PRE_DOC_CODE,
            T5.EMPL_NAME AS PRE_DOC_NAME,
            T5.SEX_CODE AS PRE_DOC_SEX,
            T5.BIRTHDAY AS PRE_DOC_BIRTHDAY,
            T5.IDENNO AS PRE_DOC_IDENTITY_NO,
            T5.TEL AS PRE_DOC_PHONE_NO,
            T5.EMAIL AS PRE_DOC_EMAIL,
            T5.DEPT_ID AS PRE_DOC_DEPT_CODE,
            T6.DEPT_NAME AS PRE_DOC_DEPT_NAME,
            T6.DEPTOWN AS PRE_DOC_DEPT_DEPTOWN,
            T1.CARD_NO AS PAT_CARD_NO,
            T7.GCPOUTPATIENT AS PAT_GCPOUTPATIENT,
            T7.NAME AS PAT_NAME,
            T7.SEX_CODE AS PAT_SEX,
            T7.BIRTHDAY AS PAT_BIRTHDAY,
            T7.IDENNO AS PAT_IDENTITY_NO,
            NVL(T7.WORK_TEL, NVL(T7.HOME_TEL, T7.LINKMAN_TEL)) AS PAT_PHONE_NO,
            T7.EMAIL AS PAT_EMAIL
        FROM
            FIN_IPR_PREPAYIN T1
            LEFT JOIN DAWN_ORG_EMPL T2 ON T2.EMPL_ID = T1.OPER_CODE AND T2.VALID_STATE = '1'
            LEFT JOIN DAWN_ORG_DEPT T3 ON T3.DEPT_ID = T2.DEPT_ID AND T3.VALID_STATE = '1'
            LEFT JOIN DAWN_ORG_DEPT T4 ON T4.DEPT_ID = T1.DEPT_CODE AND T4.VALID_STATE = '1'
            LEFT JOIN DAWN_ORG_EMPL T5 ON T5.EMPL_ID = T1.PREDOCT_CODE AND T5.VALID_STATE = '1'
            LEFT JOIN DAWN_ORG_DEPT T6 ON T6.DEPT_ID = T5.DEPT_ID AND T6.VALID_STATE = '1'
            LEFT JOIN COM_PATIENTINFO T7 ON T7.CARD_NO = T1.CARD_NO AND T7.IS_VALID = '1'
        WHERE
            T1.CARD_NO = #{cardNo}
            AND T1.HAPPEN_NO = #{happenNo}
    </select>

    <select id="GetLatestHospitalizationCertificate" resultMap="resultMap">
        SELECT
            *
        FROM
            (
                SELECT
                    T1.CARD_NO AS CARD_NO,
                    T1.HAPPEN_NO AS HAPPEN_NO,
                    T1.OPER_DATE AS OPER_DATE,
                    T1.NURSE_CELL_CODE AS PRE_NURSE_CELL_CODE,
                    T1.BED_NO AS PRE_BED_NO,
                    T1.PRE_DATE AS PRE_DATE,
                    T1.PREPAY_COST AS PRE_COST,
                    T1.PRE_STATE AS STATE,
                    T1.OPER_CODE AS OPER_CODE,
                    T2.EMPL_NAME AS OPER_NAME,
                    T2.SEX_CODE AS OPER_SEX,
                    T2.BIRTHDAY AS OPER_BIRTHDAY,
                    T2.IDENNO AS OPER_IDENTITY_NO,
                    T2.TEL AS OPER_PHONE_NO,
                    T2.EMAIL AS OPER_EMAIL,
                    T2.DEPT_ID AS OPER_DEPT_CODE,
                    T3.DEPT_NAME AS OPER_DEPT_NAME,
                    T3.DEPTOWN AS OPER_DEPT_DEPTOWN,
                    T1.DEPT_CODE AS PRE_DEPT_CODE,
                    T4.DEPT_NAME AS PRE_DEPT_NAME,
                    T4.DEPTOWN AS PRE_DEPT_DEPTOWN,
                    T1.PREDOCT_CODE AS PRE_DOC_CODE,
                    T5.EMPL_NAME AS PRE_DOC_NAME,
                    T5.SEX_CODE AS PRE_DOC_SEX,
                    T5.BIRTHDAY AS PRE_DOC_BIRTHDAY,
                    T5.IDENNO AS PRE_DOC_IDENTITY_NO,
                    T5.TEL AS PRE_DOC_PHONE_NO,
                    T5.EMAIL AS PRE_DOC_EMAIL,
                    T5.DEPT_ID AS PRE_DOC_DEPT_CODE,
                    T6.DEPT_NAME AS PRE_DOC_DEPT_NAME,
                    T6.DEPTOWN AS PRE_DOC_DEPT_DEPTOWN,
                    T1.CARD_NO AS PAT_CARD_NO,
                    T7.GCPOUTPATIENT AS PAT_GCPOUTPATIENT,
                    T7.NAME AS PAT_NAME,
                    T7.SEX_CODE AS PAT_SEX,
                    T7.BIRTHDAY AS PAT_BIRTHDAY,
                    T7.IDENNO AS PAT_IDENTITY_NO,
                    NVL(T7.WORK_TEL, NVL(T7.HOME_TEL, T7.LINKMAN_TEL)) AS PAT_PHONE_NO,
                    T7.EMAIL AS PAT_EMAIL
                FROM
                    FIN_IPR_PREPAYIN T1
                    LEFT JOIN DAWN_ORG_EMPL T2 ON T2.EMPL_ID = T1.OPER_CODE AND T2.VALID_STATE = '1'
                    LEFT JOIN DAWN_ORG_DEPT T3 ON T3.DEPT_ID = T2.DEPT_ID AND T3.VALID_STATE = '1'
                    LEFT JOIN DAWN_ORG_DEPT T4 ON T4.DEPT_ID = T1.DEPT_CODE AND T4.VALID_STATE = '1'
                    LEFT JOIN DAWN_ORG_EMPL T5 ON T5.EMPL_ID = T1.PREDOCT_CODE AND T5.VALID_STATE = '1'
                    LEFT JOIN DAWN_ORG_DEPT T6 ON T6.DEPT_ID = T5.DEPT_ID AND T6.VALID_STATE = '1'
                    LEFT JOIN COM_PATIENTINFO T7 ON T7.CARD_NO = T1.CARD_NO AND T7.IS_VALID = '1'
                WHERE
                    T1.CARD_NO = #{cardNo}
                ORDER BY
                    T1.HAPPEN_NO DESC
            )
        WHERE
            ROWNUM = 1
    </select>
</mapper>