<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.credential.PreinCardMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" type="com.kaos.his.entity.credential.PreinCard">
        <result column="CARD_NO" jdbcType="VARCHAR" property="cardNo"/>
        <result column="HAPPEN_NO" jdbcType="VARCHAR" property="happenNo"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
        <result column="PRE_NURSE_CELL_CODE" jdbcType="VARCHAR" property="preNurseCellCode"/>
        <result column="PRE_BED_NO" jdbcType="VARCHAR" property="preBedNo"/>
        <result column="PRE_DATE" jdbcType="VARCHAR" property="preDate"/>
        <result column="PRE_COST" jdbcType="VARCHAR" property="preCost"/>
        <result column="STATE" jdbcType="VARCHAR" property="state"/>
        <association columnPrefix="PAT_" resultMap="com.kaos.his.mapper.personnel.PatientMapper.map" javaType="com.kaos.his.entity.personnel.Patient" property="patient"/>
        <association columnPrefix="OPER_" resultMap="com.kaos.his.mapper.personnel.EmployeeMapper.map" javaType="com.kaos.his.entity.personnel.Employee" property="operEmployee"/>
        <association columnPrefix="PRE_DEPT_" resultMap="com.kaos.his.mapper.organization.DepartmentMapper.map" javaType="com.kaos.his.entity.organization.Department" property="preDept"/>
        <association columnPrefix="PRE_DOC_" resultMap="com.kaos.his.mapper.personnel.EmployeeMapper.map" javaType="com.kaos.his.entity.personnel.Employee" property="preDoctor"/>
    </resultMap>

    <!-- 接口1 -->
    <select id="QueryPreinCard" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            FIN_IPR_PREPAYIN
        <where>
            <if test="cardNo!=null">
                AND CARD_NO = #{cardNo}
            </if>
            <if test="happenNo!=null">
                AND HAPPEN_NO = #{happenNo}
            </if>
        </where>
    </select>

    <!-- 接口2 -->
    <select id="QueryLatestPreinCard" resultMap="map">
        SELECT
            *
        FROM
            (
                SELECT
        <include refid="allItem"/>
                FROM
                    FIN_IPR_PREPAYIN
        <where>
            <if test="cardNo!=null">
                        AND CARD_NO = #{cardNo}
            </if>
        </where>
                ORDER BY
                    HAPPEN_NO DESC
            )
        WHERE
            ROWNUM = 1
    </select>

    <!-- 所有字段 -->
    <sql id="allItem">
        CARD_NO AS CARD_NO,
        HAPPEN_NO AS HAPPEN_NO,
        CARD_NO AS PAT_CARD_NO,
        OPER_CODE AS OPER_CODE,
        OPER_DATE AS OPER_DATE,
        DEPT_CODE AS PRE_DEPT_CODE,
        NURSE_CELL_CODE AS PRE_NURSE_CELL_CODE,
        BED_NO AS PRE_BED_NO,
        PREDOCT_CODE AS PRE_DOC_CODE,
        PRE_DATE AS PRE_DATE,
        PREPAY_COST AS PRE_COST,
        PRE_STATE AS STATE
    </sql>
</mapper>