<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.credential.PreinCardMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" type="com.kaos.his.entity.credential.PreinCard">
        <id column="CARD_NO" jdbcType="VARCHAR" property="cardNo"/>
        <id column="HAPPEN_NO" jdbcType="VARCHAR" property="happenNo"/>
        <result column="OPER_CODE" jdbcType="VARCHAR" property="operCode"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
        <result column="PRE_DEPT_CODE" jdbcType="VARCHAR" property="preDeptCode"/>
        <result column="PRE_NURSE_CELL_CODE" jdbcType="VARCHAR" property="preNurseCellCode"/>
        <result column="PRE_BED_NO" jdbcType="VARCHAR" property="preBedNo"/>
        <result column="PRE_DOCTOR_CODE" jdbcType="VARCHAR" property="preDoctorCode"/>
        <result column="PRE_DATE" jdbcType="VARCHAR" property="preDate"/>
        <result column="PRE_COST" jdbcType="VARCHAR" property="preCost"/>
        <result column="STATE" jdbcType="VARCHAR" property="state"/>
        <result column="ESCORT_VIP" jdbcType="VARCHAR" property="escortVip"/>
    </resultMap>

    <!-- 接口1 -->
    <select id="QueryPreinCard" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            FIN_IPR_PREPAYIN T1
            LEFT JOIN KAOS.ESCORT_VIP T2 ON T2.PATIENT_CARD_NO = T1.CARD_NO AND T2.HAPPEN_NO = T1.HAPPEN_NO
        <where>
            <if test="cardNo!=null">
                AND T1.CARD_NO = #{cardNo}
            </if>
            <if test="happenNo!=null">
                AND T1.HAPPEN_NO = #{happenNo}
            </if>
        </where>
    </select>

    <!-- 接口2 -->
    <select id="QueryLatestPreinCard" resultMap="map">
        SELECT
            *
        FROM
            (
                SELECT
        <include refid="allItem"/>
                FROM
                    FIN_IPR_PREPAYIN T1
                    LEFT JOIN KAOS.ESCORT_VIP T2 ON T2.PATIENT_CARD_NO = T1.CARD_NO AND T2.HAPPEN_NO = T1.HAPPEN_NO
        <where>
            <if test="cardNo!=null">
                    AND T1.CARD_NO = #{cardNo}
            </if>
        </where>
                ORDER BY
                    T1.HAPPEN_NO DESC
            )
        WHERE
            ROWNUM = 1
    </select>

    <!-- 所有字段 -->
    <sql id="allItem">
        T1.CARD_NO AS CARD_NO,
        T1.HAPPEN_NO AS HAPPEN_NO,
        T1.OPER_CODE AS OPER_CODE,
        T1.OPER_DATE AS OPER_DATE,
        T1.DEPT_CODE AS PRE_DEPT_CODE,
        T1.NURSE_CELL_CODE AS PRE_NURSE_CELL_CODE,
        T1.BED_NO AS PRE_BED_NO,
        T1.PREDOCT_CODE AS PRE_DOCTOR_CODE,
        T1.PRE_DATE AS PRE_DATE,
        T1.PREPAY_COST AS PRE_COST,
        T1.PRE_STATE AS STATE,
        T2.ESCORT_CARD_NO as ESCORT_VIP
    </sql>

    <!-- 接口3 -->
    <insert id="InsertEscortVip" parameterType="com.kaos.his.entity.credential.PreinCard">
        INSERT INTO
            KAOS.ESCORT_VIP(PATIENT_CARD_NO, HAPPEN_NO, ESCORT_CARD_NO)
        VALUES
            (#{cardNo}, #{happenNo}, #{escortVip})
    </insert>
</mapper>