<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.credential.PreinCardMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" type="com.kaos.his.entity.credential.PreinCard">
        <id column="CARD_NO" jdbcType="VARCHAR" property="cardNo"/>
        <id column="HAPPEN_NO" jdbcType="VARCHAR" property="happenNo"/>
        <result column="OPER_CODE" jdbcType="VARCHAR" property="operCode"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
        <result column="PRE_DEPT_CODE" jdbcType="VARCHAR" property="preDeptCode"/>
        <result column="PRE_NURSE_CELL_CODE" jdbcType="VARCHAR" property="preNurseCellCode"/>
        <result column="PRE_BED_NO" jdbcType="VARCHAR" property="preBedNo"/>
        <result column="PRE_DOCTOR_CODE" jdbcType="VARCHAR" property="preDoctorCode"/>
        <result column="PRE_DATE" jdbcType="VARCHAR" property="preDate"/>
        <result column="PRE_COST" jdbcType="VARCHAR" property="preCost"/>
        <result column="STATE" jdbcType="VARCHAR" property="state"/>
    </resultMap>

    <!-- 所有字段 -->
    <sql id="allItem">
        CARD_NO AS CARD_NO,
        HAPPEN_NO AS HAPPEN_NO,
        OPER_CODE AS OPER_CODE,
        OPER_DATE AS OPER_DATE,
        DEPT_CODE AS PRE_DEPT_CODE,
        NURSE_CELL_CODE AS PRE_NURSE_CELL_CODE,
        BED_NO AS PRE_BED_NO,
        PREDOCT_CODE AS PRE_DOCTOR_CODE,
        PRE_DATE AS PRE_DATE,
        PREPAY_COST AS PRE_COST,
        PRE_STATE AS STATE
    </sql>

    <!-- 接口1 -->
    <select id="QueryPreinCard" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            FIN_IPR_PREPAYIN
        WHERE
            CARD_NO = #{cardNo}
            AND HAPPEN_NO = #{happenNo}
    </select>

    <!-- 接口2 -->
    <select id="QueryLatestPreinCard" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            XYHIS.FIN_IPR_PREPAYIN
        WHERE
            CARD_NO = #{cardNo}
            AND HAPPEN_NO = (
                SELECT
                    MAX(HAPPEN_NO)
                FROM
                    XYHIS.FIN_IPR_PREPAYIN
                WHERE
                    CARD_NO = #{cardNo}
            )
    </select>
</mapper>