<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.skynet.api.data.his.mapper.inpatient.FinIprInMainInfoMapper">
    <resultMap id="map" type="com.kaos.skynet.api.data.his.entity.inpatient.FinIprInMainInfo">
        <id column="INPATIENT_NO" jdbcType="VARCHAR" property="inpatientNo"/>
        <result column="MEDICAL_TYPE" jdbcType="VARCHAR" property="medicalType"/>
        <result column="PATIENT_NO" jdbcType="VARCHAR" property="patientNo"/>
        <result column="CARD_NO" jdbcType="VARCHAR" property="cardNo"/>
        <result column="MCARD_NO" jdbcType="VARCHAR" property="medCardNo"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="SEX_CODE" jdbcType="VARCHAR" property="sex"/>
        <result column="IDENNO" jdbcType="VARCHAR" property="idenNo"/>
        <result column="SPELL_CODE" jdbcType="VARCHAR" property="spellCode"/>
        <result column="BIRTHDAY" jdbcType="VARCHAR" property="birthday"/>
        <result column="PROF_CODE" jdbcType="VARCHAR" property="profCode"/>
        <result column="WORK_NAME" jdbcType="VARCHAR" property="workName"/>
        <result column="WORK_TEL" jdbcType="VARCHAR" property="workTel"/>
        <result column="WORK_ZIP" jdbcType="VARCHAR" property="workZip"/>
        <result column="HOME" jdbcType="VARCHAR" property="home"/>
        <result column="HOME_TEL" jdbcType="VARCHAR" property="homeTel"/>
        <result column="HOME_ZIP" jdbcType="VARCHAR" property="homeZip"/>
        <result column="DIST" jdbcType="VARCHAR" property="dist"/>
        <result column="BIRTH_AREA" jdbcType="VARCHAR" property="birthArea"/>
        <result column="NATION_CODE" jdbcType="VARCHAR" property="nationCode"/>
        <result column="LINKMAN_NAME" jdbcType="VARCHAR" property="linkmanName"/>
        <result column="LINKMAN_TEL" jdbcType="VARCHAR" property="linkmanTel"/>
        <result column="LINKMAN_ADD" jdbcType="VARCHAR" property="linkmanAddress"/>
        <result column="RELA_CODE" jdbcType="VARCHAR" property="linkmanRelation"/>
        <result column="MARI" jdbcType="VARCHAR" property="mari"/>
        <result column="COUN_CODE" jdbcType="VARCHAR" property="country"/>
        <result column="HEIGHT" jdbcType="VARCHAR" property="height"/>
        <result column="WEIGHT" jdbcType="VARCHAR" property="weight"/>
        <result column="BLOOD_DRESS" jdbcType="VARCHAR" property="bloodDress"/>
        <result column="BLOOD_CODE" jdbcType="VARCHAR" property="bloodCode"/>
        <result column="HEPATITIS_FLAG" jdbcType="VARCHAR" property="hepatitisFlag"/>
        <result column="ANAPHY_FLAG" jdbcType="VARCHAR" property="anaphyFlag"/>
        <result column="IN_DATE" jdbcType="VARCHAR" property="inDate"/>
        <result column="DEPT_CODE" jdbcType="VARCHAR" property="deptCode"/>
        <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName"/>
        <result column="PAYKIND_CODE" jdbcType="VARCHAR" property="payKind"/>
        <result column="PACT_CODE" jdbcType="VARCHAR" property="pactCode"/>
        <result column="PACT_NAME" jdbcType="VARCHAR" property="pactName"/>
        <result column="BED_NO" jdbcType="VARCHAR" property="bedNo"/>
        <result column="NURSE_CELL_CODE" jdbcType="VARCHAR" property="nurseCellCode"/>
        <result column="NURSE_CELL_NAME" jdbcType="VARCHAR" property="nurseCellName"/>
        <result column="HOUSE_DOC_CODE" jdbcType="VARCHAR" property="houseDocCode"/>
        <result column="HOUSE_DOC_NAME" jdbcType="VARCHAR" property="houseDocName"/>
        <result column="CHARGE_DOC_CODE" jdbcType="VARCHAR" property="chargeDocCode"/>
        <result column="CHARGE_DOC_NAME" jdbcType="VARCHAR" property="chargeDocName"/>
        <result column="CHIEF_DOC_CODE" jdbcType="VARCHAR" property="chiefDocCode"/>
        <result column="CHIEF_DOC_NAME" jdbcType="VARCHAR" property="chiefDocName"/>
        <result column="DUTY_NURSE_CODE" jdbcType="VARCHAR" property="dutyNurseCode"/>
        <result column="DUTY_NURSE_NAME" jdbcType="VARCHAR" property="dutyNurseName"/>
        <result column="IN_CIRCS" jdbcType="VARCHAR" property="inCircs"/>
        <result column="IN_AVENUE" jdbcType="VARCHAR" property="inAvenue"/>
        <result column="IN_SOURCE" jdbcType="VARCHAR" property="inSourceEnum"/>
        <result column="IN_TIMES" jdbcType="VARCHAR" property="inTimes"/>
        <result column="PREPAY_COST" jdbcType="VARCHAR" property="prepayCost"/>
        <result column="CHANGE_PREPAYCOST" jdbcType="VARCHAR" property="changePrepayCost"/>
        <result column="MONEY_ALERT" jdbcType="VARCHAR" property="moneyAlert"/>
        <result column="TOT_COST" jdbcType="VARCHAR" property="totCost"/>
        <result column="OWN_COST" jdbcType="VARCHAR" property="ownCost"/>
        <result column="PAY_COST" jdbcType="VARCHAR" property="payCost"/>
        <result column="PUB_COST" jdbcType="VARCHAR" property="pubCost"/>
        <result column="ECO_COST" jdbcType="VARCHAR" property="ecoCost"/>
        <result column="FREE_COST" jdbcType="VARCHAR" property="feeCost"/>
        <result column="CHANGE_TOTCOST" jdbcType="VARCHAR" property="changeTotCost"/>
        <result column="UPPER_LIMIT" jdbcType="VARCHAR" property="upperLimit"/>
        <result column="FEE_INTERVAL" jdbcType="VARCHAR" property="feeInterval"/>
        <result column="BALANCE_NO" jdbcType="VARCHAR" property="balanceNo"/>
        <result column="BALANCE_COST" jdbcType="VARCHAR" property="balanceCost"/>
        <result column="BALANCE_PREPAY" jdbcType="VARCHAR" property="balancePrepay"/>
        <result column="BALANCE_DATE" jdbcType="VARCHAR" property="balanceDate"/>
        <result column="STOP_ACOUNT" jdbcType="VARCHAR" property="stopAccount"/>
        <result column="BABY_FLAG" jdbcType="VARCHAR" property="babyFlag"/>
        <result column="CASE_FLAG" jdbcType="VARCHAR" property="caseFlag"/>
        <result column="IN_STATE" jdbcType="VARCHAR" property="inState"/>
        <result column="LEAVE_FLAG" jdbcType="VARCHAR" property="leaveFlag"/>
        <result column="PREPAY_OUTDATE" jdbcType="VARCHAR" property="prepayOutDate"/>
        <result column="OUT_DATE" jdbcType="VARCHAR" property="outDate"/>
        <result column="ZG" jdbcType="VARCHAR" property="zg"/>
        <result column="EMPL_CODE" jdbcType="VARCHAR" property="emplCode"/>
        <result column="IN_ICU" jdbcType="VARCHAR" property="inICU"/>
        <result column="CASESEND_FLAG" jdbcType="VARCHAR" property="caseSendFlag"/>
        <result column="TEND" jdbcType="VARCHAR" property="tend"/>
        <result column="CRITICAL_FLAG" jdbcType="VARCHAR" property="criticalFlag"/>
        <result column="PREFIXFEE_DATE" jdbcType="VARCHAR" property="prefixFeeDate"/>
        <result column="OPER_CODE" jdbcType="VARCHAR" property="operCode"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
        <result column="BLOOD_LATEFEE" jdbcType="VARCHAR" property="bloodLateFee"/>
        <result column="DAY_LIMIT" jdbcType="VARCHAR" property="dayLimit"/>
        <result column="LIMIT_TOT" jdbcType="VARCHAR" property="limitTot"/>
        <result column="LIMIT_OVERTOP" jdbcType="VARCHAR" property="limitOverTop"/>
        <result column="CLINIC_DIAGNOSE" jdbcType="VARCHAR" property="clinicDiagnose"/>
        <result column="PROCREATE_PCNO" jdbcType="VARCHAR" property="procreatePcNo"/>
        <result column="DIETETIC_MARK" jdbcType="VARCHAR" property="dieteticMark"/>
        <result column="BURSARY_TOTMEDFEE" jdbcType="VARCHAR" property="bursaryTotMedFee"/>
        <result column="MEMO" jdbcType="VARCHAR" property="memo"/>
        <result column="BED_LIMIT" jdbcType="VARCHAR" property="bedLimit"/>
        <result column="AIR_LIMIT" jdbcType="VARCHAR" property="airLimit"/>
        <result column="BEDOVERDEAL" jdbcType="VARCHAR" property="bedOverDeal"/>
        <result column="EXT_FLAG" jdbcType="VARCHAR" property="extFlag"/>
        <result column="EXT_FLAG1" jdbcType="VARCHAR" property="extFlag1"/>
        <result column="EXT_FLAG2" jdbcType="VARCHAR" property="extFlag2"/>
        <result column="BOARD_COST" jdbcType="VARCHAR" property="boardCost"/>
        <result column="BOARD_PREPAY" jdbcType="VARCHAR" property="boardPrepay"/>
        <result column="BOARD_STATE" jdbcType="VARCHAR" property="boardState"/>
        <result column="OWN_RATE" jdbcType="VARCHAR" property="ownRate"/>
        <result column="PAY_RATE" jdbcType="VARCHAR" property="payRate"/>
        <result column="EXT_NUMBER" jdbcType="VARCHAR" property="extNumber"/>
        <result column="EXT_CODE" jdbcType="VARCHAR" property="extCode"/>
        <result column="DIAG_NAME" jdbcType="VARCHAR" property="diagName"/>
        <result column="IS_ENCRYPTNAME" jdbcType="VARCHAR" property="isEncryptName"/>
        <result column="NORMALNAME" jdbcType="VARCHAR" property="normalName"/>
        <result column="IDCARDTYPE" jdbcType="VARCHAR" property="idCardType"/>
        <result column="ALTER_TYPE" jdbcType="VARCHAR" property="alterType"/>
        <result column="ALTER_BEGIN" jdbcType="VARCHAR" property="alterBegin"/>
        <result column="ALTER_END" jdbcType="VARCHAR" property="alterEnd"/>
        <result column="ALTER_APPROVE_CODE" jdbcType="VARCHAR" property="alterApproveCode"/>
        <result column="ALTER_APPROVE_DATE" jdbcType="VARCHAR" property="alterApproveDate"/>
        <result column="OLDSI_NO" jdbcType="VARCHAR" property="oldSiNo"/>
        <result column="LOCAL_EXT_FLAG1" jdbcType="VARCHAR" property="localExtFlag1"/>
        <result column="LOCAL_EXT_FLAG2" jdbcType="VARCHAR" property="localExtFlag2"/>
        <result column="EMR_INPATIENTID" jdbcType="VARCHAR" property="emrInpatientId"/>
        <result column="IS_SINGLEDIS" jdbcType="VARCHAR" property="isSingleDis"/>
        <result column="SINGLEDIS_ID" jdbcType="VARCHAR" property="singleDisId"/>
        <result column="DISEASENAME" jdbcType="VARCHAR" property="diseaseName"/>
        <result column="DISEASECOST" jdbcType="VARCHAR" property="diseaseCost"/>
        <result column="MATERIALCOST" jdbcType="VARCHAR" property="materialCost"/>
        <result column="DEPTOWN" jdbcType="VARCHAR" property="deptOwn"/>
        <result column="IS_GREEN_BALANCE" jdbcType="VARCHAR" property="isGreenBalance"/>
        <result column="SI_PROVINCCODE" jdbcType="VARCHAR" property="siProvinceCode"/>
        <result column="SI_PROVINCNAME" jdbcType="VARCHAR" property="siProvinceName"/>
        <result column="SI_CITYCODE" jdbcType="VARCHAR" property="siCityCode"/>
        <result column="SI_CITYNAME" jdbcType="VARCHAR" property="siCityName"/>
        <result column="LOCAL_EXT_FLAG3" jdbcType="VARCHAR" property="localExtFlag3"/>
        <result column="GCPINPATIENT" jdbcType="VARCHAR" property="gcpInpatient"/>
        <result column="GREENROAD" jdbcType="VARCHAR" property="greenRoad"/>
        <result column="VIP_FLAG" jdbcType="VARCHAR" property="vipFlag"/>
        <result column="ERASINPATIENT" jdbcType="VARCHAR" property="erasInpatient"/>
        <result column="VTE" jdbcType="VARCHAR" property="vte"/>
        <result column="VTE_CFM" jdbcType="VARCHAR" property="vteCfm"/>
        <result column="CLINIC_CODE" jdbcType="VARCHAR" property="clinicCode"/>
        <result column="HAPPEN_NO" jdbcType="VARCHAR" property="happenNo"/>
        <result column="MEDICAL_STAFF" jdbcType="VARCHAR" property="medicalStaff"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        <result column="CASE_APPROVE_FLAG" jdbcType="VARCHAR" property="caseApproveFlag"/>
        <result column="CASE_REASON" jdbcType="VARCHAR" property="caseReason"/>
    </resultMap>

    <sql id="item">
        INPATIENT_NO,
        MEDICAL_TYPE,
        PATIENT_NO,
        CARD_NO,
        MCARD_NO,
        NAME,
        SEX_CODE,
        IDENNO,
        SPELL_CODE,
        BIRTHDAY,
        PROF_CODE,
        WORK_NAME,
        WORK_TEL,
        WORK_ZIP,
        HOME,
        HOME_TEL,
        HOME_ZIP,
        DIST,
        BIRTH_AREA,
        NATION_CODE,
        LINKMAN_NAME,
        LINKMAN_TEL,
        LINKMAN_ADD,
        RELA_CODE,
        MARI,
        COUN_CODE,
        HEIGHT,
        WEIGHT,
        BLOOD_DRESS,
        BLOOD_CODE,
        HEPATITIS_FLAG,
        ANAPHY_FLAG,
        IN_DATE,
        DEPT_CODE,
        DEPT_NAME,
        PAYKIND_CODE,
        PACT_CODE,
        PACT_NAME,
        BED_NO,
        NURSE_CELL_CODE,
        NURSE_CELL_NAME,
        HOUSE_DOC_CODE,
        HOUSE_DOC_NAME,
        CHARGE_DOC_CODE,
        CHARGE_DOC_NAME,
        CHIEF_DOC_CODE,
        CHIEF_DOC_NAME,
        DUTY_NURSE_CODE,
        DUTY_NURSE_NAME,
        IN_CIRCS,
        IN_AVENUE,
        IN_SOURCE,
        IN_TIMES,
        PREPAY_COST,
        CHANGE_PREPAYCOST,
        MONEY_ALERT,
        TOT_COST,
        OWN_COST,
        PAY_COST,
        PUB_COST,
        ECO_COST,
        FREE_COST,
        CHANGE_TOTCOST,
        UPPER_LIMIT,
        FEE_INTERVAL,
        BALANCE_NO,
        BALANCE_COST,
        BALANCE_PREPAY,
        BALANCE_DATE,
        STOP_ACOUNT,
        BABY_FLAG,
        CASE_FLAG,
        IN_STATE,
        LEAVE_FLAG,
        PREPAY_OUTDATE,
        OUT_DATE,
        ZG,
        EMPL_CODE,
        IN_ICU,
        CASESEND_FLAG,
        TEND,
        CRITICAL_FLAG,
        PREFIXFEE_DATE,
        OPER_CODE,
        OPER_DATE,
        BLOOD_LATEFEE,
        DAY_LIMIT,
        LIMIT_TOT,
        LIMIT_OVERTOP,
        CLINIC_DIAGNOSE,
        PROCREATE_PCNO,
        DIETETIC_MARK,
        BURSARY_TOTMEDFEE,
        MEMO,
        BED_LIMIT,
        AIR_LIMIT,
        BEDOVERDEAL,
        EXT_FLAG,
        EXT_FLAG1,
        EXT_FLAG2,
        BOARD_COST,
        BOARD_PREPAY,
        BOARD_STATE,
        OWN_RATE,
        PAY_RATE,
        EXT_NUMBER,
        EXT_CODE,
        DIAG_NAME,
        IS_ENCRYPTNAME,
        NORMALNAME,
        IDCARDTYPE,
        ALTER_TYPE,
        ALTER_BEGIN,
        ALTER_END,
        ALTER_APPROVE_CODE,
        ALTER_APPROVE_DATE,
        OLDSI_NO,
        LOCAL_EXT_FLAG1,
        LOCAL_EXT_FLAG2,
        EMR_INPATIENTID,
        IS_SINGLEDIS,
        SINGLEDIS_ID,
        DISEASENAME,
        DISEASECOST,
        MATERIALCOST,
        DEPTOWN,
        IS_GREEN_BALANCE,
        SI_PROVINCCODE,
        SI_PROVINCNAME,
        SI_CITYCODE,
        SI_CITYNAME,
        LOCAL_EXT_FLAG3,
        GCPINPATIENT,
        GREENROAD,
        VIP_FLAG,
        ERASINPATIENT,
        VTE,
        VTE_CFM,
        CLINIC_CODE,
        HAPPEN_NO,
        MEDICAL_STAFF,
        REMARK,
        CASE_APPROVE_FLAG,
        CASE_REASON
    </sql>

    <select id="queryInMainInfo" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            XYHIS.FIN_IPR_INMAININFO
        <where>
            <if test="true">
                AND INPATIENT_NO = #{inpatientNo}
            </if>
        </where>
    </select>

    <select id="queryInMainInfos" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            XYHIS.FIN_IPR_INMAININFO
        <where>
            <if test="cardNo != null">
                AND CARD_NO = #{cardNo}
            </if>
            <if test="happenNo != null">
                AND HAPPEN_NO = #{happenNo}
            </if>
            <if test="deptCode != null">
                AND DEPT_CODE = #{deptCode}
            </if>
            <if test="states != null">
                AND IN_STATE IN
                <foreach collection="states" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>