<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.skynet.api.data.his.mapper.inpatient.FinSpecialCityPatientMapper">
    <resultMap id="map" type="com.kaos.skynet.api.data.his.entity.inpatient.FinSpecialCityPatient">
        <id column="PATIENTNO" jdbcType="VARCHAR" property="patientNo"/>
        <result column="IS_SPECIAL" jdbcType="VARCHAR" property="isSpecial"/>
        <result column="IS_DRUGTEST" jdbcType="VARCHAR" property="isDrugTest"/>
        <result column="IS_2019NCOV" jdbcType="VARCHAR" property="is2019NCov"/>
    </resultMap>

    <sql id="item">
        PATIENTNO,
        IS_SPECIAL,
        IS_DRUGTEST,
        IS_2019NCOV
    </sql>

    <select id="querySpecialCityPatient" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            XYHIS.FIN_SPECIAL_CITYPATIENT
        <where>
            <if test = "true">
                AND PATIENTNO = #{inpatientNo}
            </if>
        </where>
    </select>
</mapper>