<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.skynet.api.data.his.mapper.inpatient.escort.EscortVipMapper">
    <resultMap id="map" type="com.kaos.skynet.api.data.his.entity.inpatient.escort.EscortVip">
        <id column="PATIENT_CARD_NO" jdbcType="VARCHAR" property="patientCardNo"/>
        <id column="HAPPEN_NO" jdbcType="VARCHAR" property="happenNo"/>
        <result column="HELPER_CARD_NO" jdbcType="VARCHAR" property="helperCardNo"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="recDate"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <sql id="item">
        PATIENT_CARD_NO,
        HAPPEN_NO,
        HELPER_CARD_NO,
        OPER_DATE,
        REMARK
    </sql>

    <select id="queryEscortVip" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            KAOS.ESCORT_VIP
        <where>
            <if test = "true">
                AND PATIENT_CARD_NO = #{patientCardNo}
            </if>
            <if test = "true">
                AND HAPPEN_NO = #{happenNo}
            </if>
        </where>
    </select>

    <insert id="insertEscortVip">
        INSERT INTO
            KAOS.ESCORT_VIP(PATIENT_CARD_NO, HAPPEN_NO, HELPER_CARD_NO, OPER_DATE, REMARK)
        VALUES
            (#{patientCardNo}, #{happenNo}, #{helperCardNo}, #{recDate}, #{remark})
    </insert>
</mapper>