<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.skynet.core.api.data.mapper.KaosUserMapper">
    <resultMap id="map" type="com.kaos.skynet.core.api.data.entity.KaosUser">
        <id column="UUID" jdbcType="VARCHAR" property="uuid" />
        <result column="PWD" jdbcType="VARCHAR" property="pwd" />
        <result column="VALID" jdbcType="VARCHAR" property="valid" />
    </resultMap>

    <sql id="item">
        UUID,
        PWD,
        VALID
    </sql>

    <select id="queryKaosUser" resultMap="map">
        SELECT
        <include refid="item" />
        FROM
            KAOS.KAOS_USER
        <where>
            <if test = "true">
                AND UUID = #{uuid}
            </if>
        </where>
    </select>
</mapper>