<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.config.VariableListMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" type="com.kaos.his.entity.config.VariableList">
        <id column="NAME" jdbcType="VARCHAR" property="name"/>
        <collection ofType="com.kaos.his.entity.config.VariableList$Variable" property="variables">
            <id column="VALUE" jdbcType="VARCHAR" property="value"/>
            <result column="VALID" jdbcType="VARCHAR" property="valid"/>
            <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
        </collection>
    </resultMap>

    <!-- 全部字段 -->
    <sql id="allItem">
        NAME AS NAME,
        VALUE AS VALUE,
        VALID AS VALID,
        REMARK AS REMARK
    </sql>

    <!-- 接口1 -->
    <select id="QueryVariableList" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            KAOS.CONFIG_LIST
        <where>
            <if test="listName!=null">
                AND NAME = #{listName}
            </if>
        </where>
    </select>
</mapper>