<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.skynet.api.mapper.common.drug.hedging.PhaComStockInfoHedgingMapper">
    <resultMap id="map" type="com.kaos.skynet.entity.common.drug.hedging.PhaComStockInfoHedging">
        <id column="DRUG_DEPT_CODE" jdbcType="VARCHAR" property="drugDeptCode"/>
        <id column="DRUG_CODE" jdbcType="VARCHAR" property="drugCode"/>
        <result column="DRUG_QUALITY" jdbcType="VARCHAR" property="drugQuality"/>
        <result column="PACK_UNIT" jdbcType="VARCHAR" property="packUnit"/>
        <result column="PACK_QTY" jdbcType="VARCHAR" property="packQty"/>
        <result column="MIN_UNIT" jdbcType="VARCHAR" property="minUnit"/>
        <result column="SHOW_FLAG" jdbcType="VARCHAR" property="showFlag"/>
        <result column="SHOW_UNIT" jdbcType="VARCHAR" property="showUnit"/>
        <result column="RETAIL_PRICE" jdbcType="VARCHAR" property="retailPrice"/>
        <result column="STORE_SUM" jdbcType="VARCHAR" property="storeSum"/>
        <result column="STORE_COST" jdbcType="VARCHAR" property="storeCost"/>
        <result column="PREOUT_SUM" jdbcType="VARCHAR" property="preOutSum"/>
        <result column="PREOUT_COST" jdbcType="VARCHAR" property="preOutCost"/>
        <result column="VALID_DATE" jdbcType="VARCHAR" property="validDate"/>
        <result column="PLACE_CODE" jdbcType="VARCHAR" property="placeCode"/>
        <result column="PRODUCER_CODE" jdbcType="VARCHAR" property="producerCode"/>
        <result column="MANAGE_QUALITY" jdbcType="VARCHAR" property="manageQuality"/>
        <result column="LOW_SUM" jdbcType="VARCHAR" property="lowSum"/>
        <result column="TOP_SUM" jdbcType="VARCHAR" property="topSum"/>
        <result column="NEED_BATCH" jdbcType="VARCHAR" property="needBatch"/>
        <result column="USEFUL_DAYS" jdbcType="VARCHAR" property="usefulDays"/>
        <result column="LACK_FLAG" jdbcType="VARCHAR" property="lackFlag"/>
        <result column="DAILTYCHECK_FLAG" jdbcType="VARCHAR" property="dayChkFlag"/>
        <result column="UNIT_FLAG" jdbcType="VARCHAR" property="unitFlag"/>
        <result column="CHANGE_FLAG" jdbcType="VARCHAR" property="changeFlag"/>
        <result column="VALID_STATE" jdbcType="VARCHAR" property="valid"/>
        <result column="MARK" jdbcType="VARCHAR" property="remark"/>
        <result column="OPER_CODE" jdbcType="VARCHAR" property="emplCode"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
        <result column="DRUG_TYPE" jdbcType="VARCHAR" property="drugType"/>
        <result column="ARK_FLAG" jdbcType="VARCHAR" property="arkFlag"/>
        <result column="ARK_QTY" jdbcType="VARCHAR" property="arkQty"/>
    </resultMap>

    <sql id="item">
        DRUG_DEPT_CODE,
        DRUG_CODE,
        DRUG_QUALITY,
        PACK_UNIT,
        PACK_QTY,
        MIN_UNIT,
        SHOW_FLAG,
        SHOW_UNIT,
        RETAIL_PRICE,
        STORE_SUM,
        STORE_COST,
        PREOUT_SUM,
        PREOUT_COST,
        VALID_DATE,
        PLACE_CODE,
        PRODUCER_CODE,
        MANAGE_QUALITY,
        LOW_SUM,
        TOP_SUM,
        NEED_BATCH,
        USEFUL_DAYS,
        LACK_FLAG,
        DAILTYCHECK_FLAG,
        UNIT_FLAG,
        CHANGE_FLAG,
        VALID_STATE,
        MARK,
        OPER_CODE,
        OPER_DATE,
        DRUG_TYPE,
        ARK_FLAG,
        ARK_QTY
    </sql>

    <select id="queryStockInfo" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            XYHIS.PHA_COM_STOCKINFO_HEDGING
        <where>
            <if test="true">
                AND DRUG_DEPT_CODE = #{deptCode}
            </if>
            <if test="true">
                AND DRUG_CODE = #{drugCode}
            </if>
        </where>
    </select>

    <insert id="insertStockInfo">
        INSERT INTO
            XYHIS.PHA_COM_STOCKINFO_HEDGING (
                DRUG_DEPT_CODE,
                DRUG_CODE,
                DRUG_QUALITY,
                PACK_UNIT,
                PACK_QTY,
                MIN_UNIT,
                SHOW_FLAG,
                SHOW_UNIT,
                RETAIL_PRICE,
                STORE_SUM,
                STORE_COST,
                PREOUT_SUM,
                PREOUT_COST,
                VALID_DATE,
                PLACE_CODE,
                PRODUCER_CODE,
                MANAGE_QUALITY,
                LOW_SUM,
                TOP_SUM,
                NEED_BATCH,
                USEFUL_DAYS,
                LACK_FLAG,
                DAILTYCHECK_FLAG,
                UNIT_FLAG,
                CHANGE_FLAG,
                VALID_STATE,
                MARK,
                OPER_CODE,
                OPER_DATE,
                DRUG_TYPE,
                ARK_FLAG,
                ARK_QTY
            )
        VALUES
            (
                #{drugDeptCode},
                #{drugCode},
                #{drugQuality},
                #{packUnit},
                #{packQty},
                #{minUnit},
                #{showFlag},
                #{showUnit},
                #{retailPrice},
                #{storeSum},
                #{storeCost},
                #{preOutSum},
                #{preOutCost},
                #{validDate},
                #{placeCode},
                #{producerCode},
                #{manageQuality},
                #{lowSum},
                #{topSum},
                #{needBatch},
                #{usefulDays},
                #{lackFlag},
                #{dayChkFlag},
                #{unitFlag},
                #{changeFlag},
                #{valid},
                #{remark},
                #{emplCode},
                #{operDate},
                #{drugType},
                #{arkFlag},
                #{arkQty}
            )
    </insert>

    <update id="updateStockInfo">
        UPDATE
            XYHIS.PHA_COM_STOCKINFO_HEDGING
        <trim prefix="SET" suffixOverrides=",">
            <if test = "true">
                DRUG_DEPT_CODE = #{drugDeptCode},
            </if>
            <if test = "true">
                DRUG_CODE = #{drugCode},
            </if>
            <if test = "true">
                DRUG_QUALITY = #{drugQuality},
            </if>
            <if test = "true">
                PACK_UNIT = #{packUnit},
            </if>
            <if test = "true">
                PACK_QTY = #{packQty},
            </if>
            <if test = "true">
                MIN_UNIT = #{minUnit},
            </if>
            <if test = "true">
                SHOW_FLAG = #{showFlag},
            </if>
            <if test = "true">
                SHOW_UNIT = #{showUnit},
            </if>
            <if test = "true">
                RETAIL_PRICE = #{retailPrice},
            </if>
            <if test = "true">
                STORE_SUM = #{storeSum},
            </if>
            <if test = "true">
                STORE_COST = #{storeCost},
            </if>
            <if test = "true">
                PREOUT_SUM = #{preOutSum},
            </if>
            <if test = "true">
                PREOUT_COST = #{preOutCost},
            </if>
            <if test = "true">
                VALID_DATE = #{validDate},
            </if>
            <if test = "true">
                PLACE_CODE = #{placeCode},
            </if>
            <if test = "true">
                PRODUCER_CODE = #{producerCode},
            </if>
            <if test = "true">
                MANAGE_QUALITY = #{manageQuality},
            </if>
            <if test = "true">
                LOW_SUM = #{lowSum},
            </if>
            <if test = "true">
                TOP_SUM = #{topSum},
            </if>
            <if test = "true">
                NEED_BATCH = #{needBatch},
            </if>
            <if test = "true">
                USEFUL_DAYS = #{usefulDays},
            </if>
            <if test = "true">
                LACK_FLAG = #{lackFlag},
            </if>
            <if test = "true">
                DAILTYCHECK_FLAG = #{dayChkFlag},
            </if>
            <if test = "true">
                UNIT_FLAG = #{unitFlag},
            </if>
            <if test = "true">
                CHANGE_FLAG = #{changeFlag},
            </if>
            <if test = "true">
                VALID_STATE = #{valid},
            </if>
            <if test = "true">
                MARK = #{remark},
            </if>
            <if test = "true">
                OPER_CODE = #{emplCode},
            </if>
            <if test = "true">
                OPER_DATE = #{operDate},
            </if>
            <if test = "true">
                DRUG_TYPE = #{drugType},
            </if>
            <if test = "true">
                ARK_FLAG = #{arkFlag},
            </if>
            <if test = "true">
                ARK_QTY = #{arkQty},
            </if>
        </trim>
        <where>
            <if test="true">
                AND DRUG_DEPT_CODE = #{deptCode}
            </if>
            <if test="true">
                AND DRUG_CODE = #{drugCode}
            </if>
        </where>
    </update>
</mapper>