<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.inpatient.escort.EscortStateRecMapper">
    <resultMap id="map" type="com.kaos.his.entity.inpatient.escort.EscortStateRec">
        <id column="ESCORT_NO" jdbcType="VARCHAR" property="escortNo"/>
        <result column="REC_NO" jdbcType="VARCHAR" property="recNo"/>
        <result column="STATE" jdbcType="VARCHAR" property="state"/>
        <result column="OPER_CODE" jdbcType="VARCHAR" property="recEmplCode"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="recDate"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <sql id="item">
        ESCORT_NO,
        REC_NO,
        STATE,
        OPER_CODE,
        OPER_DATE,
        REMARK
    </sql>

    <select id="queryInitState" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            KAOS.ESCORT_STATE_REC
        <where>
            <if test="escortNo != null">
                AND ESCORT_NO = #{escortNo}
                AND REC_NO = 1
            </if>
        </where>
    </select>

    <select id="queryCurState" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            KAOS.ESCORT_STATE_REC
        <where>
            <if test="escortNo != null">
                AND ESCORT_NO = #{escortNo}
                AND REC_NO = (
                    SELECT
                        MAX(T1.REC_NO)
                    FROM
                        KAOS.ESCORT_STATE_REC T1
                    WHERE
                        T1.ESCORT_NO = KAOS.ESCORT_STATE_REC.ESCORT_NO
                )
            </if>
        </where>
    </select>

    <select id="queryStates" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            KAOS.ESCORT_STATE_REC
        <where>
            <if test="escortNo != null">
                AND ESCORT_NO = #{escortNo}
            </if>
        </where>
        ORDER BY
            REC_NO
    </select>

    <insert id="insertState">
        <selectKey keyProperty="recNo" order="BEFORE" resultType="java.lang.Integer">
            SELECT
                NVL(MAX(REC_NO), '0') + 1
            FROM
                KAOS.ESCORT_STATE_REC
            WHERE
                ESCORT_NO = #{escortNo}
        </selectKey>
        INSERT INTO
            KAOS.ESCORT_STATE_REC(ESCORT_NO, REC_NO, STATE, OPER_CODE, OPER_DATE, REMARK)
        VALUES
            (#{escortNo}, #{recNo}, #{state}, #{recEmplCode}, #{recDate}, #{remark})
    </insert>
</mapper>