<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.inpatient.escort.EscortAnnexChkMapper">
    <resultMap id="map" type="com.kaos.his.entity.inpatient.escort.EscortAnnexChk">
        <id column="ANNEX_NO" jdbcType="VARCHAR" property="annexNo"/>
        <result column="OPER_CODE" jdbcType="VARCHAR" property="chkEmplCode"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="chkDate"/>
        <result column="NEGATIVE" jdbcType="VARCHAR" property="nagetiveFlag"/>
        <result column="EXEC_DATE" jdbcType="VARCHAR" property="inspectDate"/>
    </resultMap>

    <sql id="item">
        ANNEX_NO,
        OPER_CODE,
        OPER_DATE,
        NEGATIVE,
        EXEC_DATE
    </sql>

    <select id="queryAnnexChk" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            KAOS.ESCORT_ANNEX_CHK
        <where>
            <if test="annexNo != null">
                AND ANNEX_NO = #{annexNo}
            </if>
        </where>
    </select>
</mapper>