<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.inpatient.surgery.MetOpsApplyMapper">
    <resultMap id="map" type="com.kaos.his.entity.inpatient.surgery.MetOpsApply">
        <id column="OPERATIONNO" jdbcType="VARCHAR" property="operationNo"/>
        <result column="CLINIC_CODE" jdbcType="VARCHAR" property="clinicCode"/>
        <result column="PATIENT_NO" jdbcType="VARCHAR" property="patientNo"/>
        <result column="DIAGNOSE" jdbcType="VARCHAR" property="diagnosis"/>
        <result column="OPS_KIND" jdbcType="VARCHAR" property="surgeryKind"/>
        <result column="OPS_DOCD" jdbcType="VARCHAR" property="opsDocCode"/>
        <result column="GUI_DOCD" jdbcType="VARCHAR" property="guiDocCode"/>
        <result column="PRE_DATE" jdbcType="VARCHAR" property="preDate"/>
        <result column="ANES_TYPE" jdbcType="VARCHAR" property="anesType"/>
        <result column="EXEC_DEPT" jdbcType="VARCHAR" property="surgeryDeptCode"/>
        <result column="APPLY_DOCD" jdbcType="VARCHAR" property="applyDocCode"/>
        <result column="APPLY_DATE" jdbcType="VARCHAR" property="applyDate"/>
        <result column="APPLY_NOTE" jdbcType="VARCHAR" property="applyNote"/>
        <result column="APPR_DOCD" jdbcType="VARCHAR" property="apprDocCode"/>
        <result column="APPR_DATE" jdbcType="VARCHAR" property="apprDate"/>
        <result column="APPR_NOTE" jdbcType="VARCHAR" property="apprNote"/>
        <result column="ANES_DOCD" jdbcType="VARCHAR" property="anesDocCode"/>
        <result column="DEGREE" jdbcType="VARCHAR" property="degree"/>
        <result column="INCI_TYPE" jdbcType="VARCHAR" property="inciType"/>
        <result column="BLOOD_NUM" jdbcType="VARCHAR" property="inpectResult"/>
        <result column="EXECSTATUS" jdbcType="VARCHAR" property="surgeryStatus"/>
        <result column="YNFINISHED" jdbcType="VARCHAR" property="finishFlag"/>
        <result column="YNCHANGE" jdbcType="VARCHAR" property="chargeFlag"/>
        <result column="YNHEAVY" jdbcType="VARCHAR" property="heavyFlag"/>
        <result column="YNSPECIAL" jdbcType="VARCHAR" property="specialFlag"/>
        <result column="OPER_CODE" jdbcType="VARCHAR" property="operCode"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
        <result column="YNVALID" jdbcType="VARCHAR" property="valid"/>
        <result column="ROOM_ID" jdbcType="VARCHAR" property="roomId"/>
        <result column="POSITION" jdbcType="VARCHAR" property="position"/>
        <result column="ISCANCEL" jdbcType="VARCHAR" property="cancelFlag"/>
        <result column="SEEFLAG" jdbcType="VARCHAR" property="publishFlag"/>
        <result column="OPERMARK" jdbcType="VARCHAR" property="operRemark"/>
        <result column="CLINICCODE" jdbcType="VARCHAR" property="daySurgeryClinicCode"/>
        <result column="FROZEN_FLAG" jdbcType="VARCHAR" property="frozenFlag"/>
        <result column="FROZEN_BEGIN_DATE" jdbcType="VARCHAR" property="frozenBeginDate"/>
        <result column="FROZEN_END_DATE" jdbcType="VARCHAR" property="frozenEndDate"/>
    </resultMap>

    <sql id="item">
        OPERATIONNO,
        CLINIC_CODE,
        PATIENT_NO,
        DIAGNOSE,
        OPS_KIND,
        OPS_DOCD,
        GUI_DOCD,
        PRE_DATE,
        ANES_TYPE,
        EXEC_DEPT,
        APPLY_DOCD,
        APPLY_DATE,
        APPLY_NOTE,
        APPR_DOCD,
        APPR_DATE,
        APPR_NOTE,
        ANES_DOCD,
        DEGREE,
        INCI_TYPE,
        BLOOD_NUM,
        EXECSTATUS,
        YNFINISHED,
        YNCHANGE,
        YNHEAVY,
        YNSPECIAL,
        OPER_CODE,
        OPER_DATE,
        YNVALID,
        ROOM_ID,
        POSITION,
        ISCANCEL,
        SEEFLAG,
        OPERMARK,
        CLINICCODE,
        FROZEN_FLAG,
        FROZEN_BEGIN_DATE,
        FROZEN_END_DATE
    </sql>

    <select id="queryMetOpsApply" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            MET_OPS_APPLY
        <where>
            <if test = "true">
                AND OPERATIONNO = #{operationNo}
            </if>
        </where>
    </select>

    <sql id = "rank1">
        SELECT
            T1.*,
            T2.DEPT_CODE AS DEPT_ID,
            T3.DEPTOWN AS DEPT_OWN
        FROM
            MET_OPS_APPLY T1
            LEFT JOIN FIN_IPR_INMAININFO T2 ON T2.PATIENT_NO = T1.PATIENT_NO
            LEFT JOIN DAWN_ORG_DEPT T3 ON T3.DEPT_ID = T2.DEPT_CODE
        <where>
            <if test="beginDate != null">
                AND PRE_DATE &gt;= #{beginDate}
            </if>
            <if test="endDate != null">
                AND PRE_DATE &lt;= #{endDate}
            </if>
            <if test="status != null">
                AND EXECSTATUS IN
                <foreach collection="status" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="valid != null">
                AND YNVALID = #{valid}
            </if>
        </where>
    </sql>

    <select id="queryMetOpsAppliesInDept" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
        (
            <include refid = "rank1"/>
        )
        <where>
            <if test="deptCode != null">
                AND DEPT_ID = #{deptCode}
            </if>
        </where>
    </select>

    <select id="queryMetOpsAppliesInDeptOwn" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
        (
            <include refid = "rank1"/>
        )
        <where>
            <if test="deptOwn != null">
                AND DEPT_OWN = #{deptOwn}
            </if>
        </where>
    </select>
</mapper>