<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.product.OrderMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" type="com.kaos.his.entity.product.Order">
        <id column="MO_ORDER" jdbcType="VARCHAR" property="moOrder"/>
        <result column="MO_DATE" jdbcType="VARCHAR" property="moDate"/>
        <result column="INDEX_NO" jdbcType="VARCHAR" property="indexNo"/>
        <result column="TERM_ID" jdbcType="VARCHAR" property="termId"/>
        <result column="TERM_NAME" jdbcType="VARCHAR" property="termName"/>
    </resultMap>

    <!-- 字段 -->
    <sql id="allItem">
        MO_ORDER AS MO_ORDER,
        MO_DATE AS MO_DATE,
        PATIENT_ID AS INDEX_NO,
        TERM_ID AS TERM_ID,
        TERM_NAME AS TERM_NAME
    </sql>

    <!-- 接口 -->
    <select id="QueryOrder" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            HIS_FSHV1.MET_ORDO_ORDER
        <where>
            <if test="moOrder!=null">
                AND MO_ORDER = #{moOrder}
            </if>
        </where>
    </select>
</mapper>