<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.skynet.api.mapper.pipe.pacs.PacsCropImageRecMapper">
    <resultMap id="map" type="com.kaos.skynet.entity.pipe.pacs.PacsCropImageRec">
        <id column="URL" jdbcType="VARCHAR" property="url"/>
        <id column="X" jdbcType="VARCHAR" property="x"/>
        <id column="Y" jdbcType="VARCHAR" property="y"/>
        <id column="W" jdbcType="VARCHAR" property="w"/>
        <id column="H" jdbcType="VARCHAR" property="h"/>
        <result column="REFER" jdbcType="VARCHAR" property="refer"/>
    </resultMap>

    <sql id="item">
        URL,
        X,
        Y,
        W,
        H,
        REFER
    </sql>

    <select id="queryRec" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            KAOS.PACS_CROP_IMAGE_REC
        <where>
            <if test = "true">
                AND URL = #{url}
            </if>
            <if test = "true">
                AND X = #{x}
            </if>
            <if test = "true">
                AND Y = #{y}
            </if>
            <if test = "true">
                AND W = #{w}
            </if>
            <if test = "true">
                AND H = #{h}
            </if>
        </where>
    </select>

    <select id="queryRecWithRefer" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            KAOS.PACS_CROP_IMAGE_REC
        <where>
            <if test = "true">
                AND REFER = #{refer}
            </if>
        </where>
    </select>

    <insert id="insertRec">
        <selectKey keyProperty="refer" order="BEFORE" resultType="java.lang.String">
            SELECT
                LPAD(KAOS.SEQ_PACS_CROP_IMAGE_REC_REFER.NEXTVAL, 20, '0')
            FROM
                DUAL
        </selectKey>
        INSERT INTO
            KAOS.PACS_CROP_IMAGE_REC(URL, X, Y, W, H, REFER)
        VALUES
            (#{url}, #{x}, #{y}, #{w}, #{h}, #{refer})
    </insert>
</mapper>