<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.order.InpatientOrderMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" type="com.kaos.his.entity.order.InpatientOrder">
        <id column="MO_ORDER" jdbcType="VARCHAR" property="moOrder"/>
        <result column="MO_DATE" jdbcType="VARCHAR" property="moDate"/>
        <result column="PATIENT_NO" jdbcType="VARCHAR" property="patientNo"/>
        <result column="TERM_ID" jdbcType="VARCHAR" property="termId"/>
        <result column="TERM_NAME" jdbcType="VARCHAR" property="termName"/>
    </resultMap>

    <!-- 字段 -->
    <sql id="allItem">
        MO_ORDER AS MO_ORDER,
        MO_DATE AS MO_DATE,
        SUBSTR(INPATIENT_NO, 5) AS PATIENT_NO,
        TERM_ID AS TERM_ID,
        TERM_NAME AS TERM_NAME
    </sql>

    <!-- 接口1 -->
    <select id="QueryInpatientOrder" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            HIS_FSHV1.MET_ORDI_ORDER
        <where>
            <if test="moOrder!=null">
                AND MO_ORDER = #{moOrder}
            </if>
        </where>
    </select>

    <!-- 接口2 -->
    <select id="QueryInpatientOrders" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            HIS_FSHV1.MET_ORDI_ORDER
        <where>
            <if test="patientNo!=null">
                AND INPATIENT_NO = 'ZY01' || #{patientNo}
            </if>
            <if test="itemCode!=null">
                AND TERM_ID = #{itemCode}
            </if>
            <if test="dayOffset!=null">
                AND MO_DATE >= SYSDATE - #{dayOffset}
            </if>
        </where>
        ORDER BY
            MO_DATE ASC
    </select>
</mapper>