<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.OutpatientMapper">
    <select id="GetOutpatientByClinicCode" resultMap="outpatientMap">
        SELECT
            T1.CLINIC_CODE,
            T1.IN_STATE,
            T2.EMPL_ID AS OPER_CODE,
            T2.EMPL_NAME AS OPER_NAME,
            T2.SEX_CODE AS OPER_SEX,
            T2.BIRTHDAY AS OPER_BIRTHDAY,
            T2.IDENNO AS OPER_IDENNO,
            T2.TEL AS OPER_TEL,
            T2.EMAIL AS OPER_EMAIL,
            T3.DEPT_ID AS OPER_DEPT_ID,
            T3.DEPT_NAME AS OPER_DEPT_NAME,
            T3.DEPTOWN AS OPER_DEPTOWN,
            T1.OPER_DATE,
            T4.DEPT_ID AS PAT_DEPT_ID,
            T4.DEPT_NAME AS PAT_DEPT_NAME,
            T4.DEPTOWN AS PAT_DEPTOWN,
            T5.CARD_NO,
            T5.GCPOUTPATIENT,
            T5.NAME,
            T5.SEX_CODE,
            T5.BIRTHDAY,
            T5.IDENNO,
            NVL(T5.WORK_TEL, NVL(T5.HOME_TEL, T5.LINKMAN_TEL)) AS TEL,
            T5.EMAIL
        FROM
            FIN_OPR_REGISTER T1
            LEFT JOIN DAWN_ORG_EMPL T2 ON T2.EMPL_ID = T1.OPER_CODE
            LEFT JOIN DAWN_ORG_DEPT T3 ON T3.DEPT_ID = T2.DEPT_ID
            LEFT JOIN DAWN_ORG_DEPT T4 ON T4.DEPT_ID = T1.DEPT_CODE
            LEFT JOIN COM_PATIENTINFO T5 ON T5.CARD_NO = T1.CARD_NO
        WHERE
            T1.CLINIC_CODE = #{clinicCode}
    </select>

    <resultMap id="outpatientMap" type="com.kaos.his.entity.personnel.Outpatient">
        <result column="CLINIC_CODE" jdbcType="VARCHAR" property="clinicCode"/>
        <result column="IN_STATE" jdbcType="VARCHAR" property="state"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
        <result column="CARD_NO" jdbcType="VARCHAR" property="cardNo"/>
        <result column="GCPOUTPATIENT" jdbcType="VARCHAR" property="gcpOutPatient"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="SEX_CODE" jdbcType="VARCHAR" property="sex"/>
        <result column="BIRTHDAY" jdbcType="VARCHAR" property="birthday"/>
        <result column="IDENNO" jdbcType="VARCHAR" property="identityNo"/>
        <result column="TEL" jdbcType="VARCHAR" property="phoneNo"/>
        <result column="EMAIL" jdbcType="VARCHAR" property="email"/>
        <association javaType="com.kaos.his.entity.personnel.Employee" property="operEmployee">
            <result column="OPER_CODE" jdbcType="VARCHAR" property="code"/>
            <result column="OPER_NAME" jdbcType="VARCHAR" property="name"/>
            <result column="OPER_SEX" jdbcType="VARCHAR" property="sex"/>
            <result column="OPER_BIRTHDAY" jdbcType="VARCHAR" property="birthday"/>
            <result column="OPER_IDENNO" jdbcType="VARCHAR" property="identityNo"/>
            <result column="OPER_TEL" jdbcType="VARCHAR" property="phoneNo"/>
            <result column="OPER_EMAIL" jdbcType="VARCHAR" property="email"/>
            <association javaType="com.kaos.his.entity.organization.Department" property="dept">
                <result column="OPER_DEPT_ID" jdbcType="VARCHAR" property="code"/>
                <result column="OPER_DEPT_NAME" jdbcType="VARCHAR" property="name"/>
                <result column="OPER_DEPTOWN" jdbcType="VARCHAR" property="deptOwn"/>
            </association>
        </association>
        <association javaType="com.kaos.his.entity.organization.Department" property="dept">
            <result column="PAT_DEPT_ID" jdbcType="VARCHAR" property="code"/>
            <result column="PAT_DEPT_NAME" jdbcType="VARCHAR" property="name"/>
            <result column="PAT_DEPTOWN" jdbcType="VARCHAR" property="deptOwn"/>
        </association>
    </resultMap>
</mapper>