<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.UserMapper">

    <select id="Sel" resultType="com.kaos.his.entity.User">
        select EMPL_ID AS code, EMPL_NAME AS name from DAWN_ORG_EMPL where EMPL_ID = '${id}'
    </select>
</mapper>