<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.skynet.api.data.mapper.inpatient.surgery.MetOpsRoomMapper">
    <resultMap id="map" type="com.kaos.skynet.api.data.entity.inpatient.surgery.MetOpsRoom">
        <id column="ROOM_ID" jdbcType="VARCHAR" property="roomId"/>
        <result column="ROOM_NAME" jdbcType="VARCHAR" property="roomName"/>
        <result column="INPUT_CODE" jdbcType="VARCHAR" property="inputCode"/>
        <result column="DEPT_CODE" jdbcType="VARCHAR" property="deptCode"/>
        <result column="VALID_FLAG" jdbcType="VARCHAR" property="valid"/>
        <result column="OPER_CODE" jdbcType="VARCHAR" property="operCode"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
    </resultMap>

    <sql id="item">
        ROOM_ID,
        ROOM_NAME,
        INPUT_CODE,
        DEPT_CODE,
        VALID_FLAG,
        OPER_CODE,
        OPER_DATE
    </sql>

    <select id="queryMetOpsRoom" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            MET_OPS_ROOM
        <where>
            <if test="true">
                AND ROOM_ID = #{roomId}
            </if>
        </where>
    </select>
</mapper>