<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.fee.FinIpbBalanceHeadMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" type="com.kaos.his.entity.fee.FinIpbBalanceHead">
        <id column="INVOICE_NO" jdbcType="VARCHAR" property="invoiceNo"/>
        <id column="TRANS_TYPE" jdbcType="VARCHAR" property="transType"/>
        <result column="INPATIENT_NO" jdbcType="VARCHAR" property="inpatientNo"/>
        <result column="BALANCE_NO" jdbcType="VARCHAR" property="balanceNo"/>
        <result column="BALANCE_OPERCODE" jdbcType="VARCHAR" property="balanceOperCode"/>
        <result column="TOT_COST" jdbcType="VARCHAR" property="totCost"/>
        <result column="PAY_COST" jdbcType="VARCHAR" property="payCost"/>
        <result column="PUB_COST" jdbcType="VARCHAR" property="pubCost"/>
        <result column="PREPAY_COST" jdbcType="VARCHAR" property="prepayCost"/>
        <result column="SUPPLY_COST" jdbcType="VARCHAR" property="supplyCost"/>
        <result column="RETURN_COST" jdbcType="VARCHAR" property="returnCost"/>
        <result column="ECO_COST" jdbcType="VARCHAR" property="ecoCost"/>
        <result column="DER_COST" jdbcType="VARCHAR" property="derCost"/>
        <result column="OFFICE_PAY" jdbcType="VARCHAR" property="officePay"/>
        <result column="LARGE_PAY" jdbcType="VARCHAR" property="largePay"/>
        <result column="MILTARY_PAY" jdbcType="VARCHAR" property="militaryPay"/>
        <result column="CL_COST" jdbcType="VARCHAR" property="clCost"/>
        <result column="JZFPBCYZF_COST" jdbcType="VARCHAR" property="jzfpCost"/>
        <result column="GYBAPI_COST" jdbcType="VARCHAR" property="gybCost"/>
        <result column="HOS_COST" jdbcType="VARCHAR" property="hosCost"/>
    </resultMap>

    <!-- 全部字段 -->
    <sql id="allItem">
        INVOICE_NO,
        TRANS_TYPE,
        INPATIENT_NO,
        BALANCE_NO,
        BALANCE_OPERCODE,
        TOT_COST,
        PAY_COST,
        PUB_COST,
        PREPAY_COST,
        SUPPLY_COST,
        RETURN_COST,
        ECO_COST,
        DER_COST,
        OFFICE_PAY,
        LARGE_PAY,
        MILTARY_PAY,
        CL_COST,
        JZFPBCYZF_COST,
        GYBAPI_COST,
        HOS_COST
    </sql>

    <!-- 接口1 -->
    <select id="QueryFinIpbBalanceHead" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            XYHIS.FIN_IPB_BALANCEHEAD
        WHERE
            INVOICE_NO = #{invoiceNo}
            AND TRANS_TYPE = #{transType}
    </select>

    <!-- 接口2 -->
    <select id="QueryBalancerFinIpbBalanceHeads" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            XYHIS.FIN_IPB_BALANCEHEAD
        WHERE
            BALANCE_OPERCODE = #{balanceOperCode}
            AND BALANCE_DATE &gt;= #{beginDate}
            AND BALANCE_DATE &lt;= #{endDate}
    </select>
</mapper>