<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.lis.NucleicAcidTestMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" type="com.kaos.his.entity.lis.NucleicAcidTest">
        <result column="INDEX_NO" jdbcType="VARCHAR" property="indexNo"/>
        <result column="RESULT_DATE" jdbcType="VARCHAR" property="resultDate"/>
        <result column="NEGATIVE" jdbcType="VARCHAR" property="negative"/>
    </resultMap>

    <!-- 全部字段 -->
    <sql id="allItem">
        PATIENTNO AS INDEX_NO,
        RESULTDATE AS RESULT_DATE,
        DECODE(RESULT, '阴性(-)', '1', '0') AS NEGATIVE
    </sql>

    <!-- 接口1 -->
    <select id="QueryNucleicAcidTest" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            V_LIS_VCONRESULT_1
        <where>
            <if test="index!=null">
                AND PATIENTNO = #{index}
            </if>
            <if test="itemCode!=null">
                AND ITEMCODE = #{itemCode}
            </if>
            <if test="days!=null">
                AND RESULTDATE >= SYSDATE - #{days}
            </if>
        </where>
    </select>
</mapper>