<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.skynet.api.data.mapper.inpatient.escort.EscortStateRecMapper">
    <resultMap id="map" type="com.kaos.skynet.api.data.entity.inpatient.escort.EscortStateRec">
        <id column="ESCORT_NO" jdbcType="VARCHAR" property="escortNo"/>
        <result column="REC_NO" jdbcType="VARCHAR" property="recNo"/>
        <result column="STATE" jdbcType="VARCHAR" property="state"/>
        <result column="OPER_CODE" jdbcType="VARCHAR" property="recEmplCode"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="recDate"/>
        <result column="REMARK" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <sql id="item">
        ESCORT_NO,
        REC_NO,
        STATE,
        OPER_CODE,
        OPER_DATE,
        REMARK
    </sql>

    <select id="queryEscortStateRecs" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            KAOS.ESCORT_STATE_REC
        <where>
            <if test = "true">
                AND ESCORT_NO = #{escortNo}
            </if>
        </where>
    </select>

    <insert id="insertEscortStateRec">
        INSERT INTO
            KAOS.ESCORT_STATE_REC(ESCORT_NO, REC_NO, STATE, OPER_CODE, OPER_DATE, REMARK)
        VALUES
            (#{escortNo}, #{recNo}, #{state}, #{recEmplCode}, #{recDate}, #{remark})
    </insert>
</mapper>