<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.surgery.MetOpsApplyMapper">
    <!-- 实体映射表 -->
    <resultMap id="map" type="com.kaos.his.entity.surgery.MetOpsApply">
        <id column="OPERATIONNO" jdbcType="VARCHAR" property="operationNo"/>
        <result column="PATIENT_NO" jdbcType="VARCHAR" property="patientNo"/>
        <result column="OPS_KIND" jdbcType="VARCHAR" property="surgeryKind"/>
        <result column="OPS_DOCD" jdbcType="VARCHAR" property="opsDocCode"/>
        <result column="PRE_DATE" jdbcType="VARCHAR" property="preDate"/>
        <result column="ANES_TYPE" jdbcType="VARCHAR" property="anesType"/>
        <result column="EXEC_DEPT" jdbcType="VARCHAR" property="execDeptCode"/>
        <result column="APPLY_DOCD" jdbcType="VARCHAR" property="applyDocCode"/>
        <result column="APPLY_DATE" jdbcType="VARCHAR" property="applyDate"/>
        <result column="APPR_DOCD" jdbcType="VARCHAR" property="apprDocCode"/>
        <result column="APPR_DATE" jdbcType="VARCHAR" property="apprDate"/>
        <result column="ANES_DOCD" jdbcType="VARCHAR" property="anesDocCode"/>
        <result column="DEGREE" jdbcType="VARCHAR" property="surgeryDegree"/>
        <result column="EXECSTATUS" jdbcType="VARCHAR" property="surgeryStatus"/>
        <association property="operationName" column="operationNo" select="querySurgeryName" />
    </resultMap>

    <!-- 所有字段 -->
    <sql id="allItem">
        OPERATIONNO,
        PATIENT_NO,
        OPS_KIND,
        OPS_DOCD,
        PRE_DATE,
        ANES_TYPE,
        EXEC_DEPT,
        APPLY_DOCD,
        APPLY_DATE,
        APPR_DOCD,
        APPR_DATE,
        ANES_DOCD,
        DEGREE,
        EXECSTATUS
    </sql>

    <!-- 内联接口 -->
    <select id="querySurgeryName" resultType="String">
        SELECT
            ITEM_NAME
        FROM
            XYHIS.MET_OPS_OPERATIONITEM
        WHERE
            OPERATIONNO = #{operationNo}
    </select>

    <!-- 接口 -->
    <select id="queryMetOpsApply" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            XYHIS.MET_OPS_APPLY
        WHERE
            OPERATIONNO = #{operationNo}
    </select>

    <!-- 接口 -->
    <select id="queryDeptMetOpsApplies" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            XYHIS.MET_OPS_APPLY
        WHERE
            (
                SELECT
                    DEPT_CODE
                FROM
                    FIN_IPR_INMAININFO
                WHERE
                    INPATIENT_NO = 'ZY01' || XYHIS.MET_OPS_APPLY.PATIENT_NO
            ) = #{deptCode}
            AND APPLY_DATE &gt;= #{beginDate}
            AND APPLY_DATE &lt;= #{endDate}
            AND EXECSTATUS IN
        <foreach collection="status" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <!-- 接口 -->
    <select id="queryDeptOwnMetOpsApplies" resultMap="map">
        SELECT
        <include refid="allItem"/>
        FROM
            XYHIS.MET_OPS_APPLY
        WHERE
            (
                SELECT
                    T2.DEPTOWN
                FROM
                    FIN_IPR_INMAININFO T1
                    LEFT JOIN DAWN_ORG_DEPT T2 ON T2.DEPT_ID = T1.DEPT_CODE
                WHERE
                    T1.INPATIENT_NO = 'ZY01' || XYHIS.MET_OPS_APPLY.PATIENT_NO
            ) = #{deptOwn}
            AND APPLY_DATE &gt;= #{beginDate}
            AND APPLY_DATE &lt;= #{endDate}
            AND EXECSTATUS IN
        <foreach collection="status" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
</mapper>