<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.skynet.api.data.mapper.common.DawnOrgDeptMapper">
    <resultMap id="map" type="com.kaos.skynet.api.data.entity.common.DawnOrgDept">
        <id column="DEPT_ID" jdbcType="VARCHAR" property="deptCode"/>
        <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName"/>
        <result column="DEPT_TYPE" jdbcType="VARCHAR" property="deptType"/>
        <result column="DEPTOWN" jdbcType="VARCHAR" property="deptOwn"/>
        <result column="VALID_STATE" jdbcType="VARCHAR" property="valid"/>
    </resultMap>

    <sql id="item">
        DEPT_ID,
        DEPT_NAME,
        DEPT_TYPE,
        DEPTOWN,
        VALID_STATE
    </sql>

    <select id="queryDept" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            DAWN_ORG_DEPT
        <where>
            <if test="true">
                AND DEPT_ID = #{deptCode}
            </if>
        </where>
    </select>

    <select id="queryDepts" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            DAWN_ORG_DEPT
        <where>
            <if test = "deptOwn != null and deptOwn != @com.kaos.skynet.api.data.enums.DeptOwnEnum@All">
                AND DEPTOWN = #{deptOwn}
            </if>
            <if test = "deptTypes != null">
                AND DEPT_TYPE IN
                <foreach collection="deptTypes" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test = "valids != null">
                AND VALID_STATE IN
                <foreach collection="valids" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
</mapper>