<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.skynet.api.mapper.outpatient.fee.FinOprPayModelMapper">
    <resultMap id="map" type="com.kaos.skynet.entity.outpatient.fee.FinOprPayModel">
        <result column="CLINIC_CODE" jdbcType="VARCHAR" property="clinicCode"/>
        <result column="CARD_NO" jdbcType="VARCHAR" property="cardNo"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="OPER_CODE" jdbcType="VARCHAR" property="operCode"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
        <result column="PAYTYPE" jdbcType="VARCHAR" property="payType"/>
        <result column="TRADECODE" jdbcType="VARCHAR" property="tradeCode"/>
        <result column="AMOUNT" jdbcType="VARCHAR" property="amt"/>
        <result column="TRANCARDNUM" jdbcType="VARCHAR" property="tranCardNum"/>
        <result column="BANKNO" jdbcType="VARCHAR" property="bankNo"/>
        <result column="TERMID" jdbcType="VARCHAR" property="termId"/>
        <result column="REFERNUM" jdbcType="VARCHAR" property="referNum"/>
        <result column="TRACENUM" jdbcType="VARCHAR" property="traceNum"/>
        <result column="TRDATETIME" jdbcType="VARCHAR" property="trDateTime"/>
        <result column="MERCHANTNUM" jdbcType="VARCHAR" property="merchantNum"/>
        <result column="BANKNAME" jdbcType="VARCHAR" property="bankName"/>
        <result column="BATCHNUM" jdbcType="VARCHAR" property="batchNum"/>
        <result column="EXPIRYDATE" jdbcType="VARCHAR" property="expireDate"/>
        <result column="AUTHCODE" jdbcType="VARCHAR" property="authCode"/>
        <result column="ORGREFERNUM" jdbcType="VARCHAR" property="orgReferNum"/>
        <result column="EXT1" jdbcType="VARCHAR" property="ext1"/>
        <result column="EXT2" jdbcType="VARCHAR" property="ext2"/>
        <result column="EXT3" jdbcType="VARCHAR" property="ext3"/>
        <result column="EXT4" jdbcType="VARCHAR" property="ext4"/>
        <result column="EXT5" jdbcType="VARCHAR" property="ext5"/>
        <result column="REC_ID" jdbcType="VARCHAR" property="recId"/>
        <result column="PAY_ID" jdbcType="VARCHAR" property="payId"/>
        <result column="MERCHANTAG" jdbcType="VARCHAR" property="merchanTag"/>
        <result column="TRANID" jdbcType="VARCHAR" property="tranId"/>
        <result column="PLACEFLAG" jdbcType="VARCHAR" property="placeFlag"/>
        <result column="IS_PRINT" jdbcType="VARCHAR" property="printFlag"/>
        <result column="CANCELDAY" jdbcType="VARCHAR" property="cancelDay"/>
        <result column="PINGTAIJSBH" jdbcType="VARCHAR" property="pingTaiJSBH"/>
        <result column="PINGTAIJSBHDATE" jdbcType="VARCHAR" property="pingTaiJSBHDate"/>
        <result column="YUANNEIPAYNO" jdbcType="VARCHAR" property="yuanNeiPayNo"/>
        <result column="YUANNEIPAYTIME" jdbcType="VARCHAR" property="yuanNeiPayTime"/>
        <result column="FLAG" jdbcType="VARCHAR" property="flag"/>
        <result column="FLAGDATE" jdbcType="VARCHAR" property="flagDate"/>
        <result column="BALANCE_NO" jdbcType="VARCHAR" property="balanceNo"/>
    </resultMap>

    <sql id="item">
        CLINIC_CODE,
        CARD_NO,
        NAME,
        OPER_CODE,
        OPER_DATE,
        PAYTYPE,
        TRADECODE,
        AMOUNT,
        TRANCARDNUM,
        BANKNO,
        TERMID,
        REFERNUM,
        TRACENUM,
        TRDATETIME,
        MERCHANTNUM,
        BANKNAME,
        BATCHNUM,
        EXPIRYDATE,
        AUTHCODE,
        ORGREFERNUM,
        EXT1,
        EXT2,
        EXT3,
        EXT4,
        EXT5,
        REC_ID,
        PAY_ID,
        MERCHANTAG,
        TRANID,
        PLACEFLAG,
        IS_PRINT,
        CANCELDAY,
        PINGTAIJSBH,
        PINGTAIJSBHDATE,
        YUANNEIPAYNO,
        YUANNEIPAYTIME,
        FLAG,
        FLAGDATE,
        BALANCE_NO
    </sql>

    <select id="queryPayModels" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            XYHIS.FIN_OPR_PAYMODEL
        <where>
            <if test = "true">
                AND CARD_NO = #{cardNo}
            </if>
            <if test = "refNum != null">
                AND REFERNUM = #{refNum}
            </if>
            <if test = "invoiceNo != null">
                AND EXT1 = #{invoiceNo}
            </if>
        </where>
    </select>
</mapper>