<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.skynet.api.mapper.outpatient.fee.FinOpbFeeDetailMapper">
    <resultMap id="map" type="com.kaos.skynet.api.entity.outpatient.fee.FinOpbFeeDetail">
        <id column="RECIPE_NO" jdbcType="VARCHAR" property="recipeNo"/>
        <result column="SEQUENCE_NO" jdbcType="VARCHAR" property="seqNo"/>
        <result column="TRANS_TYPE" jdbcType="VARCHAR" property="transType"/>
        <result column="CLINIC_CODE" jdbcType="VARCHAR" property="clinicCode"/>
        <result column="CARD_NO" jdbcType="VARCHAR" property="cardNo"/>
        <result column="REG_DATE" jdbcType="VARCHAR" property="regDate"/>
        <result column="REG_DPCD" jdbcType="VARCHAR" property="regDeptCode"/>
        <result column="DOCT_CODE" jdbcType="VARCHAR" property="doctCode"/>
        <result column="DOCT_DEPT" jdbcType="VARCHAR" property="docDeptCode"/>
        <result column="ITEM_CODE" jdbcType="VARCHAR" property="itemCode"/>
        <result column="ITEM_NAME" jdbcType="VARCHAR" property="itemName"/>
        <result column="DRUG_FLAG" jdbcType="VARCHAR" property="drugFlag"/>
        <result column="SPECS" jdbcType="VARCHAR" property="specs"/>
        <result column="SELF_MADE" jdbcType="VARCHAR" property="selfMade"/>
        <result column="DRUG_QUALITY" jdbcType="VARCHAR" property="drugQuality"/>
        <result column="DOSE_MODEL_CODE" jdbcType="VARCHAR" property="doseModelCode"/>
        <result column="FEE_CODE" jdbcType="VARCHAR" property="feeCode"/>
        <result column="CLASS_CODE" jdbcType="VARCHAR" property="classCode"/>
        <result column="UNIT_PRICE" jdbcType="VARCHAR" property="unitPrice"/>
        <result column="QTY" jdbcType="VARCHAR" property="qty"/>
        <result column="DAYS" jdbcType="VARCHAR" property="days"/>
        <result column="FREQUENCY_CODE" jdbcType="VARCHAR" property="frequencyCode"/>
        <result column="USAGE_CODE" jdbcType="VARCHAR" property="usageCode"/>
        <result column="USE_NAME" jdbcType="VARCHAR" property="useName"/>
        <result column="INJECT_NUMBER" jdbcType="VARCHAR" property="injectNumber"/>
        <result column="EMC_FLAG" jdbcType="VARCHAR" property="emergencyFlag"/>
        <result column="LAB_TYPE" jdbcType="VARCHAR" property="labType"/>
        <result column="CHECK_BODY" jdbcType="VARCHAR" property="checkBody"/>
        <result column="DOSE_ONCE" jdbcType="VARCHAR" property="doseOnce"/>
        <result column="DOSE_UNIT" jdbcType="VARCHAR" property="doseUnit"/>
        <result column="BASE_DOSE" jdbcType="VARCHAR" property="baseDose"/>
        <result column="PACK_QTY" jdbcType="VARCHAR" property="packQty"/>
        <result column="PRICE_UNIT" jdbcType="VARCHAR" property="priceUnit"/>
        <result column="PUB_COST" jdbcType="VARCHAR" property="pubCost"/>
        <result column="PAY_COST" jdbcType="VARCHAR" property="payCost"/>
        <result column="OWN_COST" jdbcType="VARCHAR" property="ownCost"/>
        <result column="EXEC_DPCD" jdbcType="VARCHAR" property="execDeptCode"/>
        <result column="EXEC_DPNM" jdbcType="VARCHAR" property="execDeptName"/>
        <result column="CENTER_CODE" jdbcType="VARCHAR" property="centerCode"/>
        <result column="ITEM_GRADE" jdbcType="VARCHAR" property="itemGrade"/>
        <result column="MAIN_DRUG" jdbcType="VARCHAR" property="mainDrugFlag"/>
        <result column="COMB_NO" jdbcType="VARCHAR" property="combNo"/>
        <result column="OPER_CODE" jdbcType="VARCHAR" property="operCode"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
        <result column="PAY_FLAG" jdbcType="VARCHAR" property="payFlag"/>
        <result column="CANCEL_FLAG" jdbcType="VARCHAR" property="cancelFlag"/>
        <result column="FEE_CPCD" jdbcType="VARCHAR" property="feeEmplCode"/>
        <result column="FEE_DATE" jdbcType="VARCHAR" property="feeDate"/>
        <result column="INVOICE_NO" jdbcType="VARCHAR" property="invoiceNo"/>
        <result column="INVO_CODE" jdbcType="VARCHAR" property="invoCode"/>
        <result column="INVO_SEQUENCE" jdbcType="VARCHAR" property="invoSequence"/>
        <result column="CONFIRM_FLAG" jdbcType="VARCHAR" property="confirmFlag"/>
        <result column="CONFIRM_CODE" jdbcType="VARCHAR" property="confirmEmplCode"/>
        <result column="CONFIRM_DEPT" jdbcType="VARCHAR" property="confirmDeptCode"/>
        <result column="CONFIRM_DATE" jdbcType="VARCHAR" property="confirmDate"/>
        <result column="ECO_COST" jdbcType="VARCHAR" property="ecoCost"/>
        <result column="INVOICE_SEQ" jdbcType="VARCHAR" property="invoiceSeq"/>
        <result column="NEW_ITEMRATE" jdbcType="VARCHAR" property="newItemRate"/>
        <result column="OLD_ITEMRATE" jdbcType="VARCHAR" property="oldItemRate"/>
        <result column="EXT_FLAG" jdbcType="VARCHAR" property="extFlag"/>
        <result column="EXT_FLAG1" jdbcType="VARCHAR" property="extFlag1"/>
        <result column="EXT_FLAG2" jdbcType="VARCHAR" property="extFlag2"/>
        <result column="EXT_FLAG3" jdbcType="VARCHAR" property="extFlag3"/>
        <result column="PACKAGE_CODE" jdbcType="VARCHAR" property="packageCode"/>
        <result column="PACKAGE_NAME" jdbcType="VARCHAR" property="packageName"/>
        <result column="NOBACK_NUM" jdbcType="VARCHAR" property="noBackNum"/>
        <result column="CONFIRM_NUM" jdbcType="VARCHAR" property="confirmNum"/>
        <result column="CONFIRM_INJECT" jdbcType="VARCHAR" property="confirmInject"/>
        <result column="MO_ORDER" jdbcType="VARCHAR" property="moOrder"/>
        <result column="SAMPLE_ID" jdbcType="VARCHAR" property="sampleId"/>
        <result column="RECIPE_SEQ" jdbcType="VARCHAR" property="recipeSeq"/>
        <result column="EXCESS_COST" jdbcType="VARCHAR" property="excessCost"/>
        <result column="DRUG_OWNCOST" jdbcType="VARCHAR" property="drugOwnCost"/>
        <result column="COST_SOURCE" jdbcType="VARCHAR" property="costSource"/>
        <result column="SUBJOB_FLAG" jdbcType="VARCHAR" property="subJobFlag"/>
        <result column="ACCOUNT_FLAG" jdbcType="VARCHAR" property="accountFlag"/>
        <result column="UPDATE_SEQUENCENO" jdbcType="VARCHAR" property="updateSequenceNo"/>
        <result column="DOCTINDEPT" jdbcType="VARCHAR" property="docInDept"/>
        <result column="MEDICALGROUPCODE" jdbcType="VARCHAR" property="medGrpCode"/>
        <result column="ISPRINT_EXEBILL" jdbcType="VARCHAR" property="isPrintExeBill"/>
        <result column="ISPRINT_DRUGCARD" jdbcType="VARCHAR" property="isPrintDrugCard"/>
        <result column="ACCOUNT_NO" jdbcType="VARCHAR" property="accountNo"/>
        <result column="GROUP_CODE" jdbcType="VARCHAR" property="grpCode"/>
        <result column="DEPTOWN" jdbcType="VARCHAR" property="deptOwn"/>
        <result column="EMPLOYEEOWN" jdbcType="VARCHAR" property="emplOwn"/>
        <result column="LIS_FLAG" jdbcType="VARCHAR" property="lisFlag"/>
        <result column="DR_LIS_FLAG" jdbcType="VARCHAR" property="drLisFlag"/>
        <result column="GREENROAD" jdbcType="VARCHAR" property="greeRoad"/>
        <result column="SEND_FLAG" jdbcType="VARCHAR" property="sendFlag"/>
        <result column="SEND_OPERCODE" jdbcType="VARCHAR" property="sendOperCode"/>
        <result column="SEND_DATE" jdbcType="VARCHAR" property="sendDate"/>
        <result column="SEND_REMARK" jdbcType="VARCHAR" property="sendRemark"/>
        <result column="ATERMNO" jdbcType="VARCHAR" property="aTermNo"/>
        <result column="ORDER_STATE" jdbcType="VARCHAR" property="orderState"/>
        <result column="BAR_CODE" jdbcType="VARCHAR" property="barCode"/>
        <result column="IVN_CODE" jdbcType="VARCHAR" property="invCode"/>
        <result column="OVER_COST" jdbcType="VARCHAR" property="overCost"/>
        <result column="PREP_TYPE" jdbcType="VARCHAR" property="prepType"/>
        <result column="SELFPAY_PROP" jdbcType="VARCHAR" property="selfPayProp"/>
        <result column="FULAMT_OWNPAY_AMT" jdbcType="VARCHAR" property="fulAmtOwnPayAmt"/>
        <result column="CENTER_FEE_CODE" jdbcType="VARCHAR" property="centerFeeCode"/>
    </resultMap>

    <sql id="item">
        RECIPE_NO,
        SEQUENCE_NO,
        TRANS_TYPE,
        CLINIC_CODE,
        CARD_NO,
        REG_DATE,
        REG_DPCD,
        DOCT_CODE,
        DOCT_DEPT,
        ITEM_CODE,
        ITEM_NAME,
        DRUG_FLAG,
        SPECS,
        SELF_MADE,
        DRUG_QUALITY,
        DOSE_MODEL_CODE,
        FEE_CODE,
        CLASS_CODE,
        UNIT_PRICE,
        QTY,
        DAYS,
        FREQUENCY_CODE,
        USAGE_CODE,
        USE_NAME,
        INJECT_NUMBER,
        EMC_FLAG,
        LAB_TYPE,
        CHECK_BODY,
        DOSE_ONCE,
        DOSE_UNIT,
        BASE_DOSE,
        PACK_QTY,
        PRICE_UNIT,
        PUB_COST,
        PAY_COST,
        OWN_COST,
        EXEC_DPCD,
        EXEC_DPNM,
        CENTER_CODE,
        ITEM_GRADE,
        MAIN_DRUG,
        COMB_NO,
        OPER_CODE,
        OPER_DATE,
        PAY_FLAG,
        CANCEL_FLAG,
        FEE_CPCD,
        FEE_DATE,
        INVOICE_NO,
        INVO_CODE,
        INVO_SEQUENCE,
        CONFIRM_FLAG,
        CONFIRM_CODE,
        CONFIRM_DEPT,
        CONFIRM_DATE,
        ECO_COST,
        INVOICE_SEQ,
        NEW_ITEMRATE,
        OLD_ITEMRATE,
        EXT_FLAG,
        EXT_FLAG1,
        EXT_FLAG2,
        EXT_FLAG3,
        PACKAGE_CODE,
        PACKAGE_NAME,
        NOBACK_NUM,
        CONFIRM_NUM,
        CONFIRM_INJECT,
        MO_ORDER,
        SAMPLE_ID,
        RECIPE_SEQ,
        EXCESS_COST,
        DRUG_OWNCOST,
        COST_SOURCE,
        SUBJOB_FLAG,
        ACCOUNT_FLAG,
        UPDATE_SEQUENCENO,
        DOCTINDEPT,
        MEDICALGROUPCODE,
        ISPRINT_EXEBILL,
        ISPRINT_DRUGCARD,
        ACCOUNT_NO,
        GROUP_CODE,
        DEPTOWN,
        EMPLOYEEOWN,
        LIS_FLAG,
        DR_LIS_FLAG,
        GREENROAD,
        SEND_FLAG,
        SEND_OPERCODE,
        SEND_DATE,
        SEND_REMARK,
        ATERMNO,
        ORDER_STATE,
        BAR_CODE,
        IVN_CODE,
        OVER_COST,
        PREP_TYPE,
        SELFPAY_PROP,
        FULAMT_OWNPAY_AMT,
        CENTER_FEE_CODE
    </sql>

    <select id="queryFeeDetailsWithClinicCode" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            FIN_OPB_FEEDETAIL
        <where>
            <if test="true">
                AND CLINIC_CODE = #{clinicCode}
            </if>
            <if test="itemCode != null">
                AND ITEM_CODE = #{itemCode}
            </if>
            <if test="beginDate != null">
                AND OPER_DATE &gt;= #{beginDate} + 0
            </if>
            <if test="endDate != null">
                AND OPER_DATE &lt;= #{endDate} + 0
            </if>
        </where>
    </select>

    <select id="queryFeeDetailsWithCardNo" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            FIN_OPB_FEEDETAIL
        <where>
            <if test="true">
                AND CARD_NO = #{cardNo}
            </if>
            <if test="itemCode != null">
                AND ITEM_CODE = #{itemCode}
            </if>
            <if test="beginDate != null">
                AND OPER_DATE &gt;= #{beginDate} + 0
            </if>
            <if test="endDate != null">
                AND OPER_DATE &lt;= #{endDate} + 0
            </if>
        </where>
    </select>

    <select id="queryPreInsertItem" resultMap="map">
        SELECT
            SEQ_OPB_RECIPE_NO.NEXTVAL AS RECIPE_NO,
            SEQ_FIN_OPB_RECIPESEQ.nextval AS RECIPE_SEQ,
            SEQ_ORD_COMB.nextval AS COMB_NO,
            SEQ_MET_ORDER_ID.nextval AS MO_ORDER
        FROM
            DUAL;
    </select>

    <insert id="insertFeeDetail">
        INSERT INTO
            FIN_OPB_FEEDETAIL (
        <include refid="item"/>
            )
        VALUES
            (
                #{recipeNo},
                #{seqNo},
                #{transType},
                #{clinicCode},
                #{cardNo},
                #{regDate},
                #{regDeptCode},
                #{doctCode},
                #{docDeptCode},
                #{itemCode},
                #{itemName},
                #{drugFlag},
                #{specs},
                #{selfMade},
                #{drugQuality},
                #{doseModelCode},
                #{feeCode},
                #{classCode},
                #{unitPrice},
                #{qty},
                #{days},
                #{frequencyCode},
                #{usageCode},
                #{useName},
                #{injectNumber},
                #{emergencyFlag},
                #{labType},
                #{checkBody},
                #{doseOnce},
                #{doseUnit},
                #{baseDose},
                #{packQty},
                #{priceUnit},
                #{pubCost},
                #{payCost},
                #{ownCost},
                #{execDeptCode},
                #{execDeptName},
                #{centerCode},
                #{itemGrade},
                #{mainDrugFlag},
                #{combNo},
                #{operCode},
                #{operDate},
                #{payFlag},
                #{cancelFlag},
                #{feeEmplCode},
                #{feeDate},
                #{invoiceNo},
                #{invoCode},
                #{invoSequence},
                #{confirmFlag},
                #{confirmEmplCode},
                #{confirmDeptCode},
                #{confirmDate},
                #{ecoCost},
                #{invoiceSeq},
                #{newItemRate},
                #{oldItemRate},
                #{extFlag},
                #{extFlag1},
                #{extFlag2},
                #{extFlag3},
                #{packageCode},
                #{packageName},
                #{noBackNum},
                #{confirmNum},
                #{confirmInject},
                #{moOrder},
                #{sampleId},
                #{recipeSeq},
                #{excessCost},
                #{drugOwnCost},
                #{costSource},
                #{subJobFlag},
                #{accountFlag},
                #{updateSequenceNo},
                #{docInDept},
                #{medGrpCode},
                #{isPrintExeBill},
                #{isPrintDrugCard},
                #{accountNo},
                #{grpCode},
                #{deptOwn},
                #{emplOwn},
                #{lisFlag},
                #{drLisFlag},
                #{greeRoad},
                #{sendFlag},
                #{sendOperCode},
                #{sendDate},
                #{sendRemark},
                #{aTermNo},
                #{orderState},
                #{barCode},
                #{invCode},
                #{overCost},
                #{prepType},
                #{selfPayProp},
                #{fulAmtOwnPayAmt},
                #{centerFeeCode}
            )
    </insert>
</mapper>