<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.skynet.api.data.mapper.inpatient.escort.annex.EscortAnnexCheckMapper">
    <resultMap id="map" type="com.kaos.skynet.api.data.entity.inpatient.escort.annex.EscortAnnexCheck">
        <id column="ANNEX_NO" jdbcType="VARCHAR" property="annexNo"/>
        <result column="OPER_CODE" jdbcType="VARCHAR" property="operCode"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="operDate"/>
        <result column="NEGATIVE" jdbcType="VARCHAR" property="negative"/>
        <result column="EXEC_DATE" jdbcType="VARCHAR" property="inspectDate"/>
    </resultMap>

    <sql id="item">
        ANNEX_NO,
        OPER_CODE,
        OPER_DATE,
        NEGATIVE,
        EXEC_DATE
    </sql>

    <select id="queryAnnexCheck" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            KAOS.ESCORT_ANNEX_CHK
        <where>
            <if test="true">
                AND ANNEX_NO = #{annexNo}
            </if>
        </where>
    </select>

    <select id="queryAnnexChecks" parameterType="com.kaos.skynet.api.data.mapper.inpatient.escort.annex.EscortAnnexCheckMapper$Key" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            KAOS.ESCORT_ANNEX_CHK
        <where>
            <if test="cardNo != null">
                AND (
                    SELECT
                        CARD_NO
                    FROM
                        KAOS.ESCORT_ANNEX_INFO
                    WHERE
                        ANNEX_NO = KAOS.ESCORT_ANNEX_CHK.ANNEX_NO
                ) = #{cardNo}
            </if>
            <if test="beginInspectDate != null">
                AND EXEC_DATE &gt;= #{beginInspectDate} + 0
            </if>
            <if test="endInspectDate != null">
                AND EXEC_DATE &lt;= #{endInspectDate} + 0
            </if>
        </where>
    </select>

    <insert id="insertAnnexCheck">
        INSERT INTO
            KAOS.ESCORT_ANNEX_CHK(ANNEX_NO, OPER_CODE, OPER_DATE, NEGATIVE, EXEC_DATE)
        VALUES
            (#{annexNo}, #{operCode}, #{operDate}, #{negative}, #{inspectDate})
    </insert>

    <update id="updateAnnexCheck">
        UPDATE
            KAOS.ESCORT_ANNEX_CHK
        <trim prefix="SET" suffixOverrides=",">
            <if test="true">
                OPER_CODE = #{operCode},
            </if>
            <if test="true">
                OPER_DATE = #{operDate},
            </if>
            <if test="true">
                NEGATIVE = #{negative},
            </if>
            <if test="true">
                EXEC_DATE = #{inspectDate},
            </if>
        </trim>
        <where>
            <if test="true">
                AND ANNEX_NO = #{annexNo}
            </if>
        </where>
    </update>
</mapper>