<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.skynet.api.mapper.inpatient.FinIprPrepayInMapper">
    <resultMap id="map" type="com.kaos.skynet.entity.inpatient.FinIprPrepayIn">
        <id column="CARD_NO" jdbcType="VARCHAR" property="cardNo"/>
        <id column="HAPPEN_NO" jdbcType="VARCHAR" property="happenNo"/>
        <result column="BED_NO" jdbcType="VARCHAR" property="bedNo"/>
        <result column="PREDOCT_CODE" jdbcType="VARCHAR" property="preDocCode"/>
        <result column="DEPT_CODE" jdbcType="VARCHAR" property="preDeptCode"/>
        <result column="PRE_DATE" jdbcType="VARCHAR" property="preDate"/>
        <result column="OPER_CODE" jdbcType="VARCHAR" property="openDocCode"/>
        <result column="OPER_DATE" jdbcType="VARCHAR" property="openDate"/>
        <result column="PRE_STATE" jdbcType="VARCHAR" property="state"/>
    </resultMap>

    <sql id="item">
        CARD_NO,
        HAPPEN_NO,
        BED_NO,
        PREDOCT_CODE,
        DEPT_CODE,
        PRE_DATE,
        OPER_CODE,
        OPER_DATE,
        PRE_STATE
    </sql>

    <select id="queryPrepayIn" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            FIN_IPR_PREPAYIN
        <where>
            <if test="true">
                AND CARD_NO = #{cardNo}
            </if>
            <if test="true">
                AND HAPPEN_NO = #{happenNo}
            </if>
        </where>
    </select>

    <select id="queryPrepayIns" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            FIN_IPR_PREPAYIN
        <where>
            <if test="true">
                AND CARD_NO = #{cardNo}
            </if>
            <if test="states != null">
                AND PRE_STATE IN
                <foreach collection="states" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY
            HAPPEN_NO
    </select>

    <sql id = "rank1">
        SELECT
            *
        FROM
            FIN_IPR_PREPAYIN
        <where>
            <if test="true">
                AND CARD_NO = #{cardNo}
            </if>
            <if test="states != null">
                AND PRE_STATE IN
                <foreach collection="states" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY
            HAPPEN_NO DESC
    </sql>

    <select id="queryLastPrepayIn" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
        (
        <include refid = "rank1"/>
        )
        <where>
            <if test="true">
                AND ROWNUM = 1
            </if>
        </where>
    </select>
</mapper>