<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaos.his.mapper.inpatient.InpatientMapper">
    <resultMap id="map" type="com.kaos.his.entity.inpatient.Inpatient" extends="com.kaos.his.mapper.common.PatientMapper.map">
        <id column="INPATIENT_NO" jdbcType="VARCHAR" property="inpatientNo"/>
        <result column="PATIENT_NO" jdbcType="VARCHAR" property="patientNo"/>
        <result column="DEPT_CODE" jdbcType="VARCHAR" property="stayedDeptCode"/>
        <result column="BED_NO" jdbcType="VARCHAR" property="bedNo"/>
        <result column="NURSE_CELL_CODE" jdbcType="VARCHAR" property="nurseCellCode"/>
        <result column="HOUSE_DOC_CODE" jdbcType="VARCHAR" property="houseDocCode"/>
        <result column="CHARGE_DOC_CODE" jdbcType="VARCHAR" property="chargeDocCode"/>
        <result column="CHIEF_DOC_CODE" jdbcType="VARCHAR" property="chiefDocCode"/>
        <result column="DUTY_NURSE_CODE" jdbcType="VARCHAR" property="dutyNurseCode"/>
        <result column="IN_SOURCE" jdbcType="VARCHAR" property="inSource"/>
        <result column="IN_STATE" jdbcType="VARCHAR" property="inState"/>
        <result column="IN_DATE" jdbcType="VARCHAR" property="inDate"/>
        <result column="OUT_DATE" jdbcType="VARCHAR" property="outDate"/>
        <result column="ERASINPATIENT" jdbcType="VARCHAR" property="erasFlag"/>
        <result column="VTE" jdbcType="VARCHAR" property="vteRank"/>
        <result column="HAPPEN_NO" jdbcType="VARCHAR" property="happenNo"/>
    </resultMap>

    <sql id="item">
        T1.INPATIENT_NO,
        T1.PATIENT_NO,
        T1.DEPT_CODE,
        T1.BED_NO,
        T1.NURSE_CELL_CODE,
        T1.HOUSE_DOC_CODE,
        T1.CHARGE_DOC_CODE,
        T1.CHIEF_DOC_CODE,
        T1.DUTY_NURSE_CODE,
        T1.IN_SOURCE,
        T1.IN_STATE,
        T1.IN_DATE,
        T1.OUT_DATE,
        T1.ERASINPATIENT,
        T1.VTE,
        T1.HAPPEN_NO,
        <include refid="patientItem"/>
    </sql>

    <sql id="patientItem">
        T2.CARD_NO,
        T2.NAME,
        T2.BIRTHDAY,
        T2.SEX_CODE,
        T2.IDENNO,
        T2.LINKMAN_TEL
    </sql>

    <select id="queryInpatient" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            FIN_IPR_INMAININFO T1
            LEFT JOIN COM_PATIENTINFO T2 ON T2.CARD_NO = T1.CARD_NO
        <where>
            <if test="inpatientNo!=null">
                AND T1.INPATIENT_NO = #{inpatientNo}
            </if>
        </where>
    </select>

    <select id="queryInpatients" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            FIN_IPR_INMAININFO T1
            LEFT JOIN COM_PATIENTINFO T2 ON T2.CARD_NO = T1.CARD_NO
        <where>
            <if test="cardNo!=null">
                AND T1.CARD_NO = #{cardNo}
            </if>
            <if test="happenNo!=null">
                AND T1.HAPPEN_NO = #{happenNo}
            </if>
            <if test="states!=null">
                AND T1.IN_STATE IN
                <foreach collection="states" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryLastInpatient" resultMap="map">
        SELECT
        <include refid="item"/>
        FROM
            FIN_IPR_INMAININFO T1
            LEFT JOIN COM_PATIENTINFO T2 ON T2.CARD_NO = T1.CARD_NO
        <where>
            <if test="cardNo!=null">
                AND T1.CARD_NO = #{cardNo}
                AND T1.HAPPEN_NO IS NOT NULL
                AND T1.HAPPEN_NO = (
                    SELECT
                        MAX(T3.HAPPEN_NO)
                    FROM
                        FIN_IPR_INMAININFO T3
                    WHERE
                        T3.CARD_NO = T1.CARD_NO
                <if test="states != null">
                        AND T3.IN_STATE IN
                    <foreach collection="states" item="item" open="(" separator="," close=")">
                            #{item}
                    </foreach>
                </if>
                )
            </if>
        </where>
    </select>
</mapper>